[2017-09-18 21:43] PhilMurwin opened #1 "Having trouble batch converting flac files to mp3"
I found your tool while looking for a way to convert flac to mp3 and it works well for converting a single file.  Unfortunately I'm having trouble getting it to work in batch mode to convert ~300 files.  The command window is opening and then closing almost immediately.

Not sure what's going wrong... Here's the scripting it's generating:

`cd "D:\Convert\FLAC" && for %f in (*.flac) do (echo)    &

[2017-10-18 05:01] tyeeman opened #2 "Looks great initially-will test-need one more option"
Very nice. I will test in the coming days. I need to save/load my custom command line. Can that be added easily?

[2017-11-22 20:06] MattMcManis commented on #2
I will work on a way to save custom presets. Having the buttons and dropdowns match the custom command line may be difficult to add.

[2017-11-22 20:31] MattMcManis commented on #1
I generated a batch script for flac to mp3. I'm not sure how it generated that for you.

It looks like it's because of -acodec copy, should be -acodec libmp3lame.

`cd "D:\Convert\FLAC\" && for %f in (*.flac) do (echo) && "C:\Applications\Axiom.FFmpeg\ffmpeg\bin\ffmpeg.exe" -y -i "D:\Convert\FLAC\%~f" -vn -sn -acodec libmp3lame -b:a 320k -ac 2 -joint_stereo 1 -map 0:a:0? -map_metadata 0 -id3v2_ver

[2017-11-22 21:20] PhilMurwin commented on #1
Now I'm not sure how it generated that for me.  I just tried it and it generated the same script you've posted.  It still didn't really want to work for me.

I'm on Windows 10 and it doesn't appear to like the cd at the beginning.  I was able to navigate to the correct directory manually and then run the rest of the script (starting with for) and it appears to have worked wonderfully.

It appears

[2017-11-22 21:59] MattMcManis commented on #1
It may have to do if Axiom.exe is on C:\ Drive and your Convert folder is on D:\ Drive.

I can change to it always generate `cd` as `cd /d` if that will fix it.

[2017-11-22 22:10] PhilMurwin commented on #1
I did a couple quick tests and it looks like the /d works fine regardless if you're changing drive and directory or just the directory while staying on the same drive.

It looks like the /d switch has been around since Windows XP so it seems like a pretty safe change.

Whether you make that change or not you can go ahead and close this issue as far as I'm concerned.  Thanks again. 👍

[2017-11-22 22:16] MattMcManis commented on #1
Thanks, I will add it in the next update.

[2017-11-22 22:16] #1 closed

[2018-02-07 04:34] AerialAtom opened #3 "Image Sequence to Video"
Does it do this as well? If so, how can I use it?

[2018-02-08 19:48] MattMcManis commented on #3
It does not, I will look into adding it.

Take a look here
https://stackoverflow.com/questions/24961127/how-to-create-a-video-from-images-with-ffmpeg

Name your images something like `image-001.jpg`, `image-002.jpg`, etc. and put them in a folder.

Run this code with your paths. Adjust frame-rate and quality as needed.
`ffmpeg -start_number 0 -i "C:\test\image-%03d.jpg" -c:v libx264 -vf "fps=24,fo

[2018-03-12 15:43] zakx opened #4 "Support for NVENC"
Hi,

I've been using Axiom a few times now and I really like it.

Now that I'm encoding larger videos, I'm starting to miss support for hardware encoding (or more specifically, NVENC), see https://trac.ffmpeg.org/wiki/HWAccelIntro#NVENC.

Could you add the option to use h264_cuvid and h264_nvenc?

Thanks!
zakx

[2018-03-13 16:45] MattMcManis commented on #4
Sure thing. I'm planning to update the interface and add more options so you can choose profile, pixel format, and filters.

[2018-03-22 23:21] #3 closed

[2018-03-29 10:45] BMitrovic17 opened #5 "Support for avi (mpeg4/mp3)"
I know this is a situation that kinda looks like going few steps back but some of us from the 3rd world (stand alone dvd players/tv's) still can use only Xvid videos with MP3.

Would be great if you could add support for quick choosing of the commands.

Zeranoe's builds removed support for `libxvid` but `mpeg4` is still there. Thanks in advance.

https://trac.ffmpeg.org/wiki/Encode/MPEG-4

[2018-04-03 16:27] MattMcManis commented on #5
Yes, I can add that. In the meantime, use the Script Button and manually change codec to -c:v mpeg4 and output extension to avi, then click Run.

[2018-04-03 17:47] MattMcManis commented on #5
I added it in the latest version 1.0.6. It uses `mpeg4` and `libmp3lame`.

Let me know how it works for you.

https://github.com/MattMcManis/Axiom/releases

[2018-04-06 00:03] MattMcManis commented on #4
@zakx I've upgraded the interface, now there will be more room for additional options. I will plan on adding a hardware encoding toggle under Settings that will enable `h264_cuvid` and `h264_nvenc`.

[2018-04-07 02:42] MattMcManis commented on #4
@zakx

I added a HW Accel dropdown menu under the Format Tab.
To enable it, select a format like `MP4` or `MKV`, set Video Codec to `x264` or `x265`.

![HW Accel](https://i.imgur.com/sJNbPcW.png)

https://github.com/MattMcManis/Axiom/releases

Let me know if it works correctly. I'm not able to test it, I don't have a compiled FFmpeg that supports it.

***

**x264** uses `h264_cuvid` and `h264_nven

[2018-04-09 22:02] Tox86 opened #6 "Support for Drag and Drop"
Hi that is my suggestion.
![drag drop](https://user-images.githubusercontent.com/7013508/38525291-18539f9c-3c28-11e8-87db-4a23dd219070.gif)

[2018-04-10 03:33] MattMcManis commented on #6
I will try to find a way to do it.

[2018-04-10 05:14] MattMcManis commented on #6
@Tox86

I've added the feature, let me know if it works for you.

Download the latest version or press the Update button in the program.
https://github.com/MattMcManis/Axiom/releases/

I had to disable Admin Rights on the program for Drag & Drop to work. Next time you update it an Admin confirmation will popup if it is installed in C:\Program Files.

[2018-04-10 17:12] Tox86 commented on #6
Thanks. 💯

[2018-04-15 22:07] BMitrovic17 commented on #5
First of all thanks for implementation, haven't had time to test properly but from the quick glance there's one of the possible issues.

According to `Script` button I get this for the file and settings I've chose

[code]
I'm seeing this in the log, one the first pass:

[code]
On the second pass:
[code]

File itself plays correctly on the portable device.

Also I've noticed that you have option `S

[2018-04-16 02:18] MattMcManis commented on #5
@BMitrovic17 I am working on a fix and a way to add external subtitles. I'll let you know when it's done.

[2018-04-16 03:02] MattMcManis commented on #5
@BMitrovic17 So the file correctly encodes and plays, but it displays that yellow error at start? I think it's because it is outputting Pass 1 to NUL and trying to use the log for Pass 2. It should be faster that way as the first pass doesn't need to output an actual file.

I also found a bug when choosing a preset size for avi, such as 480 . It was giving `scale=:480 ` instead of `scale=-2:480`.

[2018-04-16 09:32] BMitrovic17 commented on #5
Yeah, file plays correctly.

I did use custom size, `720:-2`.
Another thing would be to support profile levels in order to limit max bitrate being that sometimes higher bitrate results in termination of  the playback.

According to https://trac.ffmpeg.org/ticket/2901 we should use `-profile:v 15 -level 7`

[2018-04-16 09:54] MattMcManis commented on #5
@BMitrovic17

I've added the ability to use external subtitles, but I'm running into a problem. The subtitles wont apply when using Maps. This happens on all formats, `mkv`, `mp4`, `avi`. Though maps are needed if you want to select streams.

[code]
---

I'm also running into the problem of applying the style filter.
`-vf "subtitles=subtitle.ass:force_style='FontName=Arial,FontSize=22'"`

`Error i

[2018-04-16 10:10] MattMcManis commented on #5
@BMitrovic17

I got the avi to encode with this, but the subtitle does not appear.

It would not work with `-vf "scale=720:-2'"`

[code]

[2018-04-16 10:51] MattMcManis commented on #5
@BMitrovic17

What I've learned now is to use `-map 1:s?` and that AVI only supports `DivX XSUB`.

I'm close to getting this all working.

[2018-04-16 15:10] BMitrovic17 commented on #5
@MattMcManis
I was using example from their trac's wiki
https://trac.ffmpeg.org/wiki/HowToBurnSubtitlesIntoVideo

Using `subtitles` filter is the most convenient one being that `ass` one is limited only to `Advanced SubStation Alpha (ASS)` and majority of subtitles available out there are regular srt ones.

[2018-04-17 01:00] MattMcManis commented on #5
@BMitrovic17

I've added the options for External Subtitles. Let me know how it works. I haven't added Burn yet.
Press the Update button or Download here https://github.com/MattMcManis/Axiom/releases

1. Select `mkv`, `mp4`, or `avi`.

    ![Container](https://i.imgur.com/1Q28ELt.png)

2. Select `external` from the Subtitles dropdown.
   Add subtitle files. (`avi` must use `DivX XSUB` subtitle fil

[2018-04-17 09:57] #6 closed

[2018-04-18 10:12] BMitrovic17 commented on #5
Unfortunately I don't use `ASS` nor `XSUB` so i can't test that.

[2018-04-18 10:14] MattMcManis commented on #5
@BMitrovic17

It should work with the same subtitles files you used before if those worked.

[2018-04-18 16:22] BMitrovic17 commented on #5
Tried something without the subs

[code]

And these are the settings

[code]

[2018-04-19 02:39] MattMcManis commented on #5
@BMitrovic17

I think it is `yuv444p` needs to be `yuv420p` for `mpeg4`. I also found a few more bugs for avi.

I will release a fix soon.

[2018-04-19 04:05] MattMcManis commented on #5
@BMitrovic17

Thanks for testing. We will get it working correctly for you.

Press the Update button for the new release.
https://github.com/MattMcManis/Axiom/releases/

---
#### AVI / MPEG-4 Rules

The rules for `mpeg4` were more complicated than I thought.

The controls should now automatically change to work with CBR, VBR, and Lossless.

- VBR can only be `1 Pass`
- Lossless is VBR `-q:v 2`
- C

[2018-05-04 21:56] MattMcManis commented on #5
@BMitrovic17

Has it worked for you? I have released another update.

[2018-05-14 12:32] lucario386 opened #7 "Custom video bitrate doesn't work"
Changing the video bitrate to custom and setting it, changes the command in "Script", but the video output is always the same bitrate and size.

![2018-05-14_20-31-50](https://user-images.githubusercontent.com/12094600/39997560-eb699604-57b5-11e8-90ff-f2c813c4f9e2.png)

Is there a setting I'm missing?

[2018-05-15 09:57] MattMcManis commented on #7
@lucario386

Does the Script look something like this?

Maybe the 40K bitrate is too low and ffmpeg is resetting to it's default bitrate.

I tried converting a video to webm with 40K, it ended up encoding at 400K.

[code]

You could try to delete the part of the script that says `-quality good -cpu-used 0` and then click Run.

[2018-05-15 11:50] ghost commented on #7
Yes the script is similar. And yes, seems like it uses some sort of default if the bitrate is too low. I increased it and it used the right bitrate, with or without the `-quality good -cpu-used 0` part.

[2018-05-18 00:31] MattMcManis commented on #7
@lucario386

I have also released a new version and interface.

https://github.com/MattMcManis/Axiom/releases

[2018-05-27 00:59] #4 closed

[2018-05-30 18:59] Lhun opened #8 "Looking good so far! Av1 support?"
Hi there!
I noticed you supported most standard outputs for mkv, but AV1 was added to ffmpeg in 5/29.

Plans on adding it in the next build?
![image](https://user-images.githubusercontent.com/23122906/40741623-ffcdf142-6419-11e8-8424-2fd92d15ada4.png)

[2018-06-13 08:16] MattMcManis commented on #8
Hello, thanks for the info, I will plan on adding it.

[2018-06-16 04:11] MattMcManis commented on #8
@Lhun

I've added AV1 with the guidelines from here. https://trac.ffmpeg.org/wiki/Encode/AV1

To access it, select `mkv` from the Format Container dropdown.

I moved the Video Codec dropdown menu to the Video tab, so there's less having to switch tabs.

AV1 can use `Speed` settings `-cpu-used` in the Format tab.

To update to the latest version just press the update arrow button on Axiom. It will

[2018-06-16 22:08] Lhun commented on #8
wow, you're amazing, thank you so much. I hope a gpu encoder for this comes
soon, it's a slow nightmare to encode right now, as amazing as it is.
There's also the av1 image format container as well which would be nice to
be able to export in the future.

[2018-06-17 05:37] MattMcManis commented on #8
@Lhun

Let me know if everything turns out good with the encodes.

Is there ffmpeg documentation for AV1 images? https://en.wikipedia.org/wiki/AV1#AV1_Still_Image_File_Format_(AVIF)

[2018-06-18 14:08] Lhun commented on #8
I don't know of one myself -

The only documentation I know of at the moment is
https://aomediacodec.github.io/av1-avif/ from what I understand they work
just like HEIF/webp . There's some contention on if avif should also use
webp extension as well, (at least with doom9's userbase), but as av1 is
intended as a replacement for vp9 so I personally I think it would be fine.

in addition, even daala

[2018-06-18 23:39] BMitrovic17 commented on #5
Sorry for being away for quite some time, Thanks for your hard work :)

Tried to test but it fails for subs.

[code]
Script is as follows...
[code]
Once again i want 'burn in' subs , how to add them is described in my previous comment with the link to ffmpeg's trac -> https://github.com/MattMcManis/Axiom/issues/5#issuecomment-381639128
Also adding `font name` and `font size` would be nice
With suc

[2018-06-27 10:51] MattMcManis commented on #5
@BMitrovic17

I've added Subtitles Burn in the latest version. It does not yet have Font Style.

It adds `subtitles='path'` to the filter. Let me know if it works, the subtitle srt files I have fail to burn.

![Burn](https://i.imgur.com/J4Fp2B2.png)

**Axiom Script Output:**

[code]

[2018-06-27 12:50] MattMcManis commented on #8
@Lhun

I will plan on adding webp with `-vcodec libwebp`, but what is the `avif` codec for FFmpeg? Is it just `libaom-av1` in a webp container?

Also I have released a new version with some new features and fixes.

[2018-06-30 12:15] BMitrovic17 commented on #5
Unfortunately it doesn't work.
Wild guess is that it has something to do with mapping. If i use the script without the -map it works.

[2018-06-30 12:26] MattMcManis commented on #5
@BMitrovic17

Try adding subtitle `-c:s copy`  and `-map 0:s?` or `-map 1:s?`, along with the other video and audio maps and let me know if it works. If it does I'll fix it in the next update.

Could you link me to a download of a subtitle file you're using so I can test it? My file gives an error when I try to burn.

[2018-07-05 18:29] madmexicano opened #9 "Will this support mpeg2? Don't see the option."

[2018-07-06 23:25] MattMcManis commented on #9
I can add it in the next update. Do you need `.mpg`, `.mp4`, or `.m2v` format?

**For now you can generate a script and edit it:**

1. Format Tab
    Select Container `mp4`

2. Video Tab
    Select Pass `1 Pass`
    Select Quality `High`
    Or use Quality `Custom`, enter a bitrate such as `3000K`

    [CRF](https://slhck.info/video/2017/02/24/crf-guide.html) Seems to give low quality for `mpeg2`

[2018-07-07 19:44] MattMcManis commented on #9
@madmexicano

I have updated my post.

`mpeg2` can use `.mpg`, `.m2v`, `.avi`, `.mp4`, `.mkv` containers.

`.m2v` is video stream only, no audio. Used for muxing.

DVD is `mpeg2` / `.mpg` or `.avi`

Mobile is `mpeg4` / `.mpg`, `.avi`, `.mp4`

Modern devices are `x264` / `.mp4`, `.mkv`

[2018-07-08 00:24] MattMcManis commented on #9
@madmexicano

I have added `mpeg2`. Press the update button to update to the latest version.

In the Format Tab select Container `mpg`, `avi`, or `m2v`.

![container](https://i.imgur.com/teLaBxQ.jpg)

In the Video Tab you can select the Codec.

![codec](https://i.imgur.com/sOwdWvU.jpg)

[2018-07-09 08:25] madmexicano commented on #9
Thanks for the update. Will try it out.

[2018-07-12 08:27] MattMcManis commented on #8
@Lhun

I have added `webp` format and `libwebp` codec if you would like to try it out.

[2018-07-12 19:44] Lhun commented on #8
that's hekkin awesome, thanks for letting me know. I'll give it a look as soon as I get a chance.

[2018-07-15 14:33] Monteco opened #10 "Support for FFV1"
Will Axiom have FFV1 support?
Also are there more advanced settings for denoising?

[2018-07-17 19:36] MattMcManis commented on #10
I'll see about adding FFV1 in the next update.

For now there are only the presets `default`, `light`, `medium`, `heavy` for denoising.

But you can select Denoise `Heavy` and press the Script button and change the value of `threshold` and `steps` in `vaguedenoiser=threshold=6:method=soft:nsteps=5`.

Here are more details on the filter:
https://ffmpeg.org/ffmpeg-filters.html#vaguedenoiser

Then pr

[2018-07-19 07:04] Monteco commented on #10
Hey, how are you doing? I know it might be too much to ask, but would it be
possible to implement Rav1e AV1 encoder in Axiom? Current Libaom is
incredibly slow, while Rav1e is comparatively fast enough to be used.
However it is not implemented in FFmpeg, so I'm guessing there is a lot of
compatibility issues, maybe you have some suggestions?
Link to Rav1e: https://github.com/xiph/rav1e

On Tue, 17

[2018-07-19 14:16] MattMcManis commented on #10
Unfortunately Axiom can only generate commands for FFmpeg. It would require a whole new set of rules to generate the different commands for rav1e. But if it is simple enough, I may create a separate GUI just for rav1e in the future.
________________________________
From: Monteco <notifications@github.com>
Sent: Thursday, July 19, 2018 12:04 AM
To: MattMcManis/Axiom
Cc: Matt McManis; Comment
Subjec

[2018-07-19 14:18] Monteco commented on #10
Thanks for letting me know.

On Thu, Jul 19, 2018, 17:16 Matt McManis <notifications@github.com> wrote:

[2018-08-01 13:49] BlackScreen opened #11 "Adding yadif and make settings portable"
Cool tool. Could you add the option to use yadif?
And also, would it be possible to save the settings file in the same folder as the binary? Currently it is saved in the user folder. I am using it on a network path and more than one user would have access to it, so the settings in the same folder as the binary would help me.

[2018-08-02 21:01] Lhun commented on #8
It seems the latest build for libaom encodes multi-threaded, which is great.
I'm attempting to encode a equirectangular video at 4096x2048 with the latest build that includes ffmpeg, there may be an issue with AV1 in that version. I'll be sure to try it with the nightly.

In any case, I'm currently getting "output file is empty nothing was encoded"
![image](https://user-images.githubusercontent.co

[2018-08-03 13:22] Lhun commented on #8
update: still stuck, had an update for frame 134 but it stopped. I'll try the new nightly.
New nightly seems to progress but with single core mode enabled.
![image](https://user-images.githubusercontent.com/23122906/43655001-4603f89e-971b-11e8-8752-c172d6b45155.png)

[2018-08-09 16:48] dskdestro opened #12 ".m4a encoding error"
I get an issue when trying to encode from any source audio file to .m4a.

Requested output format 'm4a' is not a suitable output format
D:\File.m4a: Invalid argument

I can make it work by changing -f m4a to -f adts

While this works nearly perfectly it results in extra time being added to the file, for example 01:00:00 became 01:36:48 and I'm not sure why.

I also tried the 'Cut' option which add

[2018-08-18 16:11] Monteco commented on #10
Hey, axiom started having problems when trying to encode AV1 video, it
gives:

Could not write header for output file #0 (incorrect codec parameters ?):
Invalid data found when processing input
Error initializing output stream 0:0 --

ffmpeg version N-91634-gc2eec1762d Copyright (c) 2000-2018 the FFmpeg
developers
  built with gcc 8.2.1 (GCC) 20180813
  configuration: --enable-gpl --enable-version

[2018-08-20 10:25] MattMcManis commented on #10
It may have to do with the video stream selected or sometimes if the video has image subtitles instead of text it gives a similar error.

________________________________
From: Monteco <notifications@github.com>
Sent: Saturday, August 18, 2018 9:11:45 AM
To: MattMcManis/Axiom
Cc: Matt McManis; Comment
Subject: Re: [MattMcManis/Axiom] Support for FFV1 (#10)

Hey, axiom started having problems when

[2018-10-17 19:28] lucaspottersky opened #13 "Feature request: save current configuration as a new preset"
Would it be possible to save a preset with the current settings?

So, for example, I'd like to have a preset that always converts the Audio to OGG, 44.1khz 192kbps...

thanks for the great project =)

[2018-10-23 16:21] MattMcManis commented on #12
I've not been able to work on the program for a while. I've removed the `-f m4a` for .m4a format and released an update. Try without to see if it fixes the timing problem.

[2018-10-23 16:23] MattMcManis commented on #11
I will look into yadif. I'm working on a new version of the program and will try to add a portable settings ini file.

[2018-10-23 16:27] MattMcManis commented on #13
Thanks. Currently it is not possible to save a custom preset. But I'm working on a new version of the program and have some code that can create an ini file for saved presets. This may take a while, I have to map every button and option to the ini exporter.

[2018-11-30 21:03] Tox86 opened #14 "Disable audio in WebM video"
Hello, it's possible disable audio in that file format?
![webm](https://user-images.githubusercontent.com/7013508/49314676-ea38e080-f4c9-11e8-983e-5850f8e4b211.png)

Cheers.

[2019-01-13 17:09] FilthyLiquid commented on #14
Audio -> Stream -> 'None'

[2019-02-13 14:18] #14 closed

[2019-03-13 12:24] DumbJoe commented on #10
....so, still planning on adding lossless coded FFV1? Or nah? Coz the latest Alpha, I don't see FFV1 anywhere in the MKV container option.....also while we're at it, any plans on the other lossless video codecs? Like LAagarith, Utvideo, MSU and Huffyuv?

And what about more channel support for FLAC? I notice there is only 4 options - source, stereo, mono and 5.1 - I believe FLAC supports more than

[2019-03-13 16:49] MattMcManis commented on #10
In the latest release I recoded most of the program with a better design. I can now more easily add new codecs.

Each codec now has it's own class with a database table that lists the values for each option.
https://github.com/MattMcManis/Axiom/blob/master/source/Axiom/Axiom/Codecs/Video/x264.cs

I will work on adding FFV1, Huffyuv, and Lagarith in the next release in a few days.

The reason it's

[2019-03-13 20:03] MattMcManis commented on #10
I have added FFV1 and released a new version 1.5.3 for you to test.

Select MKV, then FFV1 in Codecs.

The Video Quality dropdown menu will have Auto and Lossless.

Auto will default to 2 Pass. Lossless will default to 1 Pass, but can be changed.
I don't know if 2 Pass gives better quality, but I see it used here https://avpres.net/FFmpeg/im_MKV.html

Auto is also used for Codec Copy auto-detect i

[2019-03-15 07:01] DumbJoe commented on #10
Ah I see, thought you were trying to replace the many programs here: https://github.com/amiaopensource/ffmpeg-amia-wiki/wiki/3)-Graphical-User-Interface-Applications-using-FFmpeg which are now basically out of date or appear to be abandoned....except Handbrake - that seems to still be in active development, except it doesn't really have as much options as I would like, such as lossless video codec

[2019-03-15 16:22] MattMcManis commented on #10
I've only used Handbrake and Avanti a few years ago, but haven't tried the others on that list. I've been developing Axiom as I learn C#, and use it to batch convert videos for my own projects. And it's great to see other people have used it for their work.

I used to keep multiple webm and mp4 FFmpeg scripts in a text file that I would copy paste and modify to convert videos, but I thought wouldn

[2019-03-16 11:36] DumbJoe commented on #10
Hmmmm, it seems to be Proprietary from here: www.compression.ru/video/ls-codec/index_en.html wikipedia: https://en.wikipedia.org/wiki/MSU_Lossless_Video_Codec so it doesn't seem to be associated with ffmpeg which probably why it's not in its codecs.... I only got that codec from reading various videohelp forum topics where they were having an argument on which lossless video codec was best...haha

[2019-03-16 17:57] MattMcManis commented on #10
I've updated the Pixel Formats for all codecs in v1.5.4.0. Some codecs are limited in formats, but FFV1 can use many.

I believe it is multithreaded, but may depend on the codec. In the `Settings Tab` in Axiom, look for `Threads` dropdown menu. Select the amount your CPU has, or select `all`. The `optimal` option `-threads 0` lets FFmpeg decide but sometimes it's not as fast. You will see the resu

[2019-03-17 14:41] DumbJoe commented on #10
Thanks, now to get my other computer working again which has the file(s) I need to transcode with.....windows updates seems to have broken the computer and it now gets stuck at "Personalizing Settings (Not Responding)" with a black background screen and has been like that for the past 3 days....so it doesn't look like it's gonna be loading anytime soon if it's been hanging for 3 days like that! ha

[2019-03-17 15:49] MattMcManis commented on #10
I'm unsure how to fix that windows problem. There seem to be some answers online. [I read in here](https://answers.microsoft.com/en-us/windows/forum/all/windows-10-stuck-at-personalized-settings/54e3d255-2204-4e14-a792-d98b88e4c055) someone pressed Ctrl+Alt+Delete and were able to sign out and restart and it fixed it. Maybe you could also start in safe mode and see if it passes the Personalize Set

[2019-03-18 04:03] DumbJoe commented on #10
Yeah, I can boot into safe mode but it's not quite same as using it normal mode....plus my mouse is really sensitive without razor synapse running and can't run that without internet connection.....oh and I'm on windows 7 btw....not 10. ☺

Also that `rundll32.exe pnpclean.dll,RunDLL_PnpClean /DRIVERS /MAXCLEAN` doesn't work anyways because I get a windows saying "There was a problem starting pnpcl

[2019-03-18 07:35] MattMcManis commented on #10
Take a look here. Be careful not to corrupt your registry when editing it. Also if you have the Windows 7 disc, run a startup repair.

http://www.justinswan.com/windows-7-stuck-on-personalized-settings-for-windows-desktop-update.html

https://www.sysprobs.com/fix-temporary-profile-windows-7

I'll let you know when I add more codecs to the program.

[2019-03-20 11:37] MattMcManis commented on #10
@DumbJoe

I've added `HuffYUV` Codec, check the latest build. Also if you use `FFV1` Lossless, make sure it selects `yuv422p10le`, a bug was making it accidentally default to `yuv422p` in the last version.

[2019-03-22 07:06] DumbJoe commented on #10
Sorry, the computer decided to no longer cooperate with me....hah....took a while to figure out that clearing CMOS fixed that.....

No it doesn't look like that fixed it, unfortunately......it still halts at the "Personalizing settings" but without the (not responding) part but at least get a default background, instead of the black one....maybe I should have backed up the registry.......before de

[2019-03-22 12:08] #9 closed

[2019-03-22 12:08] #12 closed

[2019-03-22 12:10] #5 closed

[2019-03-22 12:10] #2 closed

[2019-03-22 18:19] MattMcManis commented on #10
You're right. For FFV1, which color profile do you think is best to set as default?

bgra
yuv444p
yuv444p10le

Here's a list of the supported profiles for that codec https://pastebin.com/raw/7V82kQ49

[2019-03-23 03:29] DumbJoe commented on #10
Whoa, that's a lot! Is it possible that your program can auto detect the colour space and pick the correct equivalent by default? That would probably be the best choice for default; because then an average joe who doesn't know a thing about all these technical jargon could go "ok, I guess I'll just let the program best choose my ideal settings for me. " or add tooltips what their use case with exa

[2019-03-23 16:24] MattMcManis commented on #11
I've added Yadif Deinterlace under Filters Tab. Let me know if you think there should be any changes.

https://ffmpeg.org/ffmpeg-filters.html#yadif-1

![Deinterlace](https://i.imgur.com/fuS0ZkH.png)

It has the options:
- frame
  - `-vf  yadif=0:-1:0`
- field
  - `-vf yadif=1:-1:0`
- cuda frame
  - `-vf  yadif_cuda=0:-1:0`
- cuda field
  - `-vf yadif_cuda=1:-1:0`

For cuda, you will need a custom

[2019-03-23 17:59] MattMcManis commented on #10
I'm not able to find the FFprobe command to detect pixel format or color space, I'm not sure if it's in the file properties, so it's not able to auto detect.

I could possibly make more Preset Profiles with extending dropdown menu levels.

[2019-03-24 09:56] DumbJoe commented on #10
Hm, it would have to be, otherwise how else would MediaInfo be able to achieve this? What does the current "auto" option do in 1.5.8-Alpha? Is that an attempt of your own auto-detect and apply appropriate pixel format or colour profile?

Yes that'd be most welcomed!

Also, back to my own problem, managed to fix it by loading last known good configuration.....hah.....but thanks for trying though! ☺

[2019-03-24 18:34] MattMcManis commented on #10
I will have to ask the devs or people more knowledgeable about FFprobe to find out the command to get that info. The current auto option just leaves the command blank, which allows FFmpeg to choose for itself, but sometimes it chooses one that makes the quality worse. That's why I force it to select yuv420p on most formats.

If you want to open an issue titled something like "Add more transcode pr

[2019-03-27 05:58] DumbJoe commented on #10
AHhh...

Sure!

[2019-03-27 06:01] DumbJoe opened #15 "Add more transcode profiles"
As already started partially in another issue chain, this would be a great addition, considering Handbrake already has theirs setup well for an average joe who knows nothing abot computers or any of the technical jargon to bother manually configuring their encode settings correctly.

[2019-03-27 06:06] DumbJoe commented on #15
Forgot to link it:

_Originally posted by @DumbJoe in https://github.com/MattMcManis/Axiom/issues/10#issuecomment-475835423_

[2019-03-27 10:06] DumbJoe commented on #6
Hmm, can you do the same for locating ffmpeg, ffprobe and ffplay files by just dragging their exe files into the the field in the settings tab?

[2019-03-27 10:22] DumbJoe commented on #6
Like this for example, I know I dragged the wrong file to the wrong field on the first attempt...hahaha:

https://i.imgur.com/IucokG3.gif

[2019-03-27 10:32] DumbJoe commented on #10
Hm, so I'm doing my transcode on version 1.5.8-Alpha build and notice that in FLAC, there isn't a compression settings.....and I know FLAC has 9 levels of compression(from using another tool that converts audio files), the highest giving you the smallest file but takes longer to do or the lowest that gives the biggest file but takes the quickest time if you are in a hurry.

Where is this option? T

[2019-03-27 12:26] DumbJoe commented on #10
Hmmm, supposedly fraps footage are either yuvj420p or bgr24 (someone mentioned bgra?) if you record with lossless RGB checked, both in REC. 709; according to this thread: http://forum.doom9.org/showthread.php?p=1556914

[2019-03-27 18:31] MattMcManis commented on #6
@DumbJoe

Sure, I'll add it to 1.6.1.0-alpha and release it soon.

1.6.0.0 has quite a few bug fixes since 1.5.8.0.

[2019-03-27 18:37] MattMcManis commented on #15
Check out the latest 1.6.0.0, I've added more to the Presets dropdown menu.

I was unable to make multiple levels that extend out, so instead it scrolls and is categorized into sections with headers.

I've left out framerate and resolution presets until I can figure out how to make the dropdown menu extend. Let me know what other presets you'd like to see.

[2019-03-27 18:47] MattMcManis commented on #10
I think I can add a new compression level slider or dopdown menu for FLAC. I'll release it in the next update soon.

`-compression_level` `0`-`12`, default `5`.

Opus also uses it, `0`-`10`.

[2019-03-27 20:45] MattMcManis commented on #15
Also, I'm developing a system to save your Custom Presets. It will export and import to an `.ini` file and the name you give it will show up in the Presets dropdown menu.

But first I have to make sure most of the controls are in place, or future updates to the program could mess up your saved profiles with different values and not load them correctly.

[2019-03-28 08:27] MattMcManis commented on #10
@DumbJoe

I've added `FLAC` and `Opus` Compression Level settings in the latest version v1.6.1.0.

Let me now how it works.

![](https://i.imgur.com/iAbOMyM.png)

[2019-03-28 08:29] MattMcManis commented on #6
@DumbJoe

I've added Drag and Drop to the Settings Program Paths in the latest version v1.6.1.0.

[2019-03-30 17:21] DumbJoe commented on #6
Wicked!

I guess for completion sake, could you also add one for the log? What if you already pre-emptively created an empty text/log file ready to go and all you have to do is just drag and drop the file to the log field and it will automatically choose that file to log any debug info or whatever axiom logs that outputs there? heh...

☺

But yeah, keep up the good work!

[2019-03-30 17:40] DumbJoe commented on #15
Checking version 1.6.4.0-Alpha, those premade presets look good! Looks like you have been doing some homework! Hahaha.... Nice!

Hm, I guess that would have been a cleaner look, but a categorized dropdown menu still looks alright...

Hm, fair enough.

Well I guess if you've got everything handbrake has, then there isn't really anything else.....besides being able to create, load and save a custom

[2019-03-30 17:48] DumbJoe commented on #10
Oh, there were a few more levels above 9 that dBpoweramp failed to tell me about....? huh....there is no way to pull this information once the file is transcoded is there? Like pick up what compression level was used for encoding the flac codec...?

Oh, that's new...never would have thought a lossy format to use a compression setting other than bitrate to derive your desired file size......interes

[2019-03-31 00:11] MattMcManis commented on #10
@DumbJoe

I think `FLAC` compression 10-12 might be new, I read some old posts where it only went to 9.

And `Opus` compression might only be for VBR `-vbr on`, I will have to do some more testing and compare file sizes.

---

For `FFV1`, I tried using the color profile `bgr24` but gave me the error:

`rgb48le` must have increased the size. I will try to ask the devs what color profile should be u

[2019-03-31 00:19] MattMcManis commented on #6
@DumbJoe

I will try to add one for the log, it uses folder path and automatically generates `output.log`, but maybe I could change it to a custom file.

I use the Log Console window to view it temporarily, instead of generating a saved log text file. I created the `output.log` so people could email it to me if they had a problem and I could easily look at their settings.

[2019-03-31 11:03] DumbJoe commented on #10
I guess if you want to clean it up a bit more, you could alphabetize the supported profiles, so it looks like this:
`
bgr0
bgra
gbrap10le
gbrap12le
gbrap16le
gbrp10le
gbrp12le
gbrp14le
gbrp16le
gbrp9le
gray
gray10le
gray12le
gray16le
gray9le
rgb48le
rgba64le
ya8
yuv410p
yuv411p
yuv420p
yuv420p10le
yuv420p12le
yuv420p14le
yuv420p16le
yuv420p9le
yuv422p
yuv422p10le
yuv422p12le
yuv422p14le
yuv422p16l

[2019-03-31 11:45] MattMcManis commented on #10
@DumbJoe

I'll look into sorting the color profiles. I copy pasted them straight from ffmpeg codec info output.
Enter this in command prompt with any codec name to see the info `ffmpeg -h encoder=libx264`.

Here's info on the `FLAC` compression level 0-12. https://ffmpeg.org/ffmpeg-codecs.html#Options-6
I'm thinking maybe it really is 1-9, but the FFmpeg devs have normalized it to 0-12 with an alg

[2019-03-31 13:26] DumbJoe commented on #6
Oh it's just an error debug log? Thought it was ffmpeg log that just printed to a file......

[2019-03-31 13:55] DumbJoe commented on #10
Now this is more like it! https://i.imgur.com/VGedp9D.png I chose a small 200MB file I had lying around and transcoded that using the UHD Disc preset setting and ensuring the thread option is set to optimal in the dropdown menu.

Hm, which begs the question, why don't you just force it on optimal setting so the transcode always work as efficiently as possible if the other settings do jack all? hah

[2019-03-31 16:26] DumbJoe commented on #10
Enter this in command prompt with any codec name to see the info ffmpeg -h encoder=libx264.

Ahh.

I'm thinking maybe it really is 1-9, but the FFmpeg devs have normalized it to 0-12 with an algorithm for their coding purposes. Or the extra levels are really just 9 with additional flags -e, -p, -ep. I found a thread about it here.

Hmmmm, interesting.....

So, I did another test and found out that

[2019-03-31 16:29] DumbJoe commented on #15
Hm, I guess you could have a lossless preset for each common resolution size? Because I notice only UHD (FQHD) has it when you can also have one for much lower resolution sizes such as Full HD or HD......or even VGA.....hahaha....

[2019-04-01 02:16] MattMcManis commented on #15
I will try to figure out how to make an extending Preset dropdown menu that will have more options with quality, resolution size, frame rate, and more. Adding too many to the current menu will make it have to scroll too far.

[2019-04-01 03:46] MattMcManis commented on #10
@DumbJoe

**Optimize Preset**
I will look into which codecs and multi-threaded and which aren't. I'll also adjust that preset and others to set the resolution size for UHD and Blu-ray.

---

The scaling options get complicated.

**Size**
The Size dropdown menu is set up to handle Widescreen videos by default. If your input video is something like Full Screen `640x480`, select Aspect Ratio `4:3` an

[2019-04-01 10:46] licong1991 opened #16 "can't pull Log and LogConsole.xaml file"
hi
I found source code lack of Log.cs and LogConsole.xaml file, So complie failed.
Do you know the reason?
Thanks~

[2019-04-01 12:37] MattMcManis commented on #16
Very strange, those files are in the repository in a folder named `Log`. I'm using [GitHub Desktop](https://desktop.github.com/) and it fails to see and upload that folder because it has that name.

I've moved those files out of the `Log` folder and into the `root` folder.

https://github.com/MattMcManis/Axiom/tree/master/source/Axiom/Axiom

Let me know if it works, thanks.

[2019-04-01 14:32] MattMcManis commented on #16
It looks like my `.gitignore` was ignoring Log folders `[Ll]og/`. I may change this in the future.

https://raw.githubusercontent.com/MattMcManis/Axiom/master/.gitignore

[2019-04-01 14:57] MattMcManis commented on #10
@DumbJoe

In the latest update, I added a Screen Format dropdown menu.

![](https://i.imgur.com/DS3tESA.png)

Select if your video is **Widescreen** or **Full Screen**, and it will automatically set the Size width and height when you use a Size Preset like `4K`, `1080p`, `720p`, etc.

Maybe I will have it use the actual with instead of calculating it with auto.

---

Use the **Aspect Ratio** menu

[2019-04-01 16:15] MattMcManis commented on #16
I fixed a bug in 2 Pass Cut time. Let me know if you find something that doesn't work, thanks.

[2019-04-03 03:48] DumbJoe opened #17 "Encode settings..."
Yeah, scaling gets a bit complex if you don't know what you're doing....a videophile would leave those setting untouched and just use original source resolution size, aspect ratio and format. Unless they can manage to make the output video still look good or somehow better than source by adding various effects, whatever they may be....

I've also noticed that for UHD Disc preset, you don't use a l

[2019-04-03 10:40] licong1991 commented on #16
great job.
it works well.
Thank you very much!

[2019-04-04 09:23] FilthyLiquid opened #18 "Feature Request: Crop Preview"
Basically just a request to make cropping easier. Would work similar to this:
![crop](https://user-images.githubusercontent.com/11634496/55544278-a4cc3000-56c2-11e9-84b3-6065997cd24e.jpg)

I understand that you can preview the output after adjusting your crop settings but it's still a lot of trial and error (at least for me) and this would make things so much easier.

[2019-04-04 11:09] MattMcManis commented on #18
Hi, yeah the Crop feature is very basic right now. I will have to find a way to use FFplay and be able to draw a box on top of it, then translate its position and dimensions into the crop values. I will look into how to do it, it may take some time.

I'm going to release a new version soon with some bug fixes and a new feature to Save Custom Presets. You'll see a notification in the program's titl

[2019-04-04 11:42] MattMcManis commented on #17
I once used Aspect Ratio `-aspect` with Codec Copy to fix a video that was stretched to 16:9 and was should have been 4:3, and it squished it back to the right size without having to re-encode. But other than that I would only recommend using it in special cases when the input differs than the output.

I will add DTS to the `UHD Disc` Preset, though I'll have to ask the devs if FFmpeg's DTS Codec

[2019-04-04 19:05] MattMcManis commented on #17
I've released an update, v1.7.0.

I've added save custom presets and some optimizations. I've also updated the UHD Disc preset.
Also check the Settings Tab to see more path textboxes.

---

The program's new config file `axiom.conf` saves to `%LocalAppData%\Axiom UI\` by default. But if you cut and paste the `.conf` to the same directory as `Axiom.exe`, and it will automatically detect, read and s

[2019-04-04 21:17] MattMcManis commented on #13
@lucaspottersky

I've added the ability to save custom presets in v1.7.0.

---

### 1.

Select your settings, then press the **Save** button.

![](https://i.imgur.com/iGc01Wv.png)

If this is the first time, it will prompt to automatically create the presets file folder.

The file browser will open, name your preset and it will save the `.ini` to
`C:\Users\Name\AppData\Local\Axiom UI\presets\`.

-

[2019-04-05 22:02] lucaspottersky commented on #13
thanks so much for the good work!

[2019-04-06 16:42] #16 closed

[2019-04-07 07:42] DumbJoe commented on #17
Oh that's cool - thought it'd re-encode it making the quality worse still... But if it doesn't re-encode and you got the wrong aspect ration the first time, I guess you could keep changing the aspect ratio until the shape looks right to you on the video screen... hahaha

Hmmmm..... What about Dolby TrueHD? Is that a codec available through FFMPEG?

I made a preset but how do I load that after I cl

[2019-04-07 08:05] DumbJoe commented on #17
Hm, I see you've updated the size list:
![pic](https://i.imgur.com/e38zXj4.png)

Perhaps add a postfix as to what aspect ratio they are, for example 8K UHD is 16:9 and 8K could be the cinema format so 256∶135 or it could be 16:10? Who knows except trying out? If the list was all 16:9 ratio size then I guess it probably isn't necessary to postfix aspect ratio as 16:9 is common in this day and age b

[2019-04-07 09:24] DumbJoe opened #19 "Higher quality or lossless background image please?"
I know this is a bit of nitpick, but I can't just stand there and take it when it's so noticeable, especially when you maximize the window and the issue becomes an urge to fix it, see here:
![image](https://i.imgur.com/1YkGcyd.png)

It's not quite noticable if it's in small window, but if on a screen size 2560x1440 or you stretch the window out for whatever reason, it is.....

Now that I know it's

[2019-04-07 10:39] MattMcManis commented on #17
---

For the Custom Preset, once you save the `.ini` to the `presets` folder, it should automatically load in the Presets dropdown menu. Does it not show up there?

### 1.

Select your settings, then press the **Save** button.

![](https://i.imgur.com/iGc01Wv.png)

If this is the first time, it will prompt to automatically create the presets file folder.

The file browser will open, name your pres

[2019-04-07 12:38] MattMcManis commented on #19
Unfortunately the background was created a long time ago at 1920x1200 and is not a a vector, so when it scales passed that size, the lines blur with jpeg artifacts.

I will have to do an HD upscale to 2160p and smooth out the edges with filters in Photoshop.

[2019-04-07 17:52] MattMcManis commented on #19
I've added the upscaled background image in v1.7.2.0. Let me know if it looks any better.

[2019-04-12 19:32] #11 closed

[2019-04-12 19:33] #13 closed

[2019-04-17 12:00] DumbJoe commented on #19
Sorry for late reply, been busy with school......

Ah fair enough...

Perhaps turn it into a vector image so whatever resolution you display it to, the image will always look it's best?

Then you will have to do it again when 4320p monitors become a thing....but I guess that's pretty far away so you don't have to worry about that.....or what if they have a triple monitor setup and expand the windo

[2019-04-17 12:01] DumbJoe commented on #17
The custom presets saves and loads fine under the user account's folder but if you try to save it in the root folder where Axiom is located, it will fail and the preset won't be saved or be loaded either....

[2019-04-17 21:33] MattMcManis commented on #17
@DumbJoe

I see, Custom Presets aren't working for Root folder. I will fix it in a new update.

[2019-04-19 04:36] MattMcManis commented on #17
@DumbJoe

I fixed it in v1.7.5.1, the path wasn't updating for App Root and was stuck on AppData. Let me know if it works for you.

If it doesn't load, try pressing the Presets reset arrow button.

![](https://i.imgur.com/P6gIE0t.png)

[2019-04-19 04:43] MattMcManis commented on #19
I use a system in Visual Studio called WPF to design the program. It might be the way it renders the jpeg. I set the quality to the highest for the window rendering. I'm unable to see the problem because I'm using a 1200p monitor.

I'm not able to convert the jpeg into a vector, I've tried with different programs and Adobe Illustrator to automatically convert it, but the edges become jagged. I wil

[2019-04-21 10:02] FilthyLiquid opened #20 "High DPI breaks tab layout"
Didn't realise this was a bug until I saw other screenshots and disabled High DPI settings, but the tabs are a little bugged with it enabled. It's not that big of a deal since everything still works, but with the way tabs focus when selecting them, it can be a little confusing.
![highdpi](https://user-images.githubusercontent.com/11634496/56468416-04953b80-6424-11e9-9b73-0482f91e9d3a.jpg)

[2019-04-22 07:38] DumbJoe commented on #19
Ah I guess it's just me then.....

Ahh-huh......

[2019-04-22 08:59] DumbJoe commented on #17
Yes it works now, thanks!

[2019-04-22 09:01] DumbJoe commented on #19
You could alternatively save it in a lossless format, unless Axiom doesn't take lossless formats well as a theme?

[2019-04-25 07:23] MattMcManis commented on #20
Thanks for finding this bug. What DPI are you using? I will find out how to fix this.

[2019-04-25 12:01] MattMcManis commented on #19
I think it will take a lossless png, however I don't know if that will fix the issue. I think it's the WPF rendering.

What is it that you're mostly seeing? The pixelation of the lines? Or do you see blocky compression artifacts?

[2019-04-27 10:31] MatthewAllan93 opened #21 "Adding colour features to video tab"
Hey, just an idea about adding colour range, colour primaries, transfer characteristics, matrix coefficients to the video tab on Axiom. I have been using the program the past few weeks and am really liking that you did an option for custom presets because I was looking for a GUI that was minimal and that would have all the features that I would like and save my options :).

[2019-04-28 13:11] DumbJoe commented on #19
AS long as the program doesn't re-transcode it into a lossy format(For whatever reason) to display as a background, it should fix it.......

[2019-04-30 19:16] MattMcManis commented on #21
Hi, thanks, glad is it working well for your projects. I will plan on adding those options to a new Color section in the Video tab.

The custom presets feature has been very useful, I used to have to save a script to a text file if I wanted to use it again.

[2019-05-01 20:52] FilthyLiquid commented on #20
Hi. My monitor is 4K and has a DPI of 157 according to the product page.
The misaligned tabs could also be caused by Windows scaling (150%) although it's more likely the High DPI setting.

[2019-05-23 15:40] Pedroxam opened #22 "User Interface"
Hello,
@MattMcManis
is it possible for you to create something similar to the same software but much lighter and also have an some tutorial for eg: changing user interface?
Thanks. I have used this software for a long time and it's great.

[2019-05-26 23:01] MattMcManis commented on #22
Hi, thanks for using Axiom.

You want to edit the buttons and dropdown menus on the interface?

The interface options are hardcoded in C# and are not able to be changed unless you edit the source code And then compile the program with Visual Studio.

What options on the interface do you want to change?

[2019-05-27 02:03] Pedroxam commented on #22
In fact, I want to be able to add a new theme. and this theme can be apply in the settings.
And one more thing, I want to know how to add a new tool. For example, a tool for saving online m3u8 videos.( i always use the one ffmpeg parameter for this  ).
so, i need to make new tab, one textbox and saving button.

Anyway,
I'm glad if you can tell me which software is needed for this. (my works is mos

[2019-05-29 12:06] MattMcManis commented on #22
This may be hard to do, the program code is very large. I am the only developer of the program and have not yet written a full Wiki on how it all works. It could take a long time for someone new to figure out how to make changes.

It will probably be too difficult add an m3u8 downloader. But I have added the [youtube-dl](https://ytdl-org.github.io/youtube-dl/index.html) option, which might detect

[2019-05-29 13:30] Pedroxam commented on #22
Exactly, I needed all these things.
i will try this steps.
Thanks man.

[2019-05-29 19:44] #22 closed

[2019-06-14 06:40] DumbJoe opened #23 "Support for MagicYUV?"
I recently read that's another lossless video codec which is supposedly the most efficient one of all. I can't actually find any documentation on this codec anywhere on the use of this in ffmpeg besides invoking it and without correct syntax documentation I don't even know how it works commandline wise.... I think ffmpeg only supports the free tier version, whilst the paid version supports 10 bit

[2019-06-21 01:22] ddswh1pk0s opened #24 "Some feedback and feature requests"
Thank you so much for developing this software, it makes using ffmpeg which would otherwise be a really big pain effortless and easy, so I really appreciate the effort you've put in.

I have some suggestions for changes that I think would improve the UI and make it even easier to use.
1. It would be good if the settings for the default preset when the program opens could be changed, or the program

[2019-06-22 15:32] MattMcManis commented on #24
Thanks for using Axiom and for your suggestions,

I will look into adding a Preset Lock checkbox to remember the selected Preset, in the settings.

The VBR toggle button should light up when pressed, showing that it's enabled.

I was unaware the numpad didn't work for the textboxes, I will try to fix it in the next update.

[2019-06-26 19:12] Wakagithub opened #25 "CLI for File Properties box"
Is there a way to use the File Properties box (perhaps even by itself) via a command line?

For example, I want to right-click an MKV (or any media format) in Windows Explorer, then perhaps create one or both of below, to use Axiom's File Properties box/window easily.

1. SendTo icon.

2. Or I could manually create a Shell command in the Registry pointing to Axiom with the approriate options/switc

[2019-08-08 16:06] MattMcManis commented on #25
Sorry for the late reply, I haven't checked on this for a while.

You can use the File Properties via command line using:

[code]

That's what Axiom uses and displays it in a Window.

As for integrating it into a shell command, that's not available in Axiom, I am unsure how to do that. But I'm sure that CLI command could be put in a batch file and called somehow when you right click a file.

[2019-08-19 21:36] NikoofDeath opened #26 "AMF Option for Hardware Acceleration"
Given that the UI has support for Nvidia-only API's, could AMD's alternative (AMF) be added to the HW Accel dropdown? Maybe also adding a tooltip about the GPU requirements for each.

[2019-08-25 17:15] MattMcManis commented on #26
https://www.reddit.com/r/Amd/comments/8eirp4/ffmpeg_40_released_includes_amf_hardware_encoding/

It looks like FFmpeg has the option, but do you know if it requires compiling it from source with certain flags enabled for it to work? I will plan on adding the option in case you have a custom FFmpeg.

You can try this for now, generate a `script` for a normal `mp4`/`mkv` with `x264`/`x265`, that wil

[2019-09-01 00:13] NikoofDeath commented on #26
The official builds have it, and, as you suggest, I've been changing to -c:v h264_amf manually successfully.

[2019-10-20 16:38] ghost opened #27 "can you provide for linux?"
can you provide this awesome tool for linux ? it's very helpfull I never used such easy tool to manage my own configurations in ffmpeg with such perfection.

[2019-10-26 18:43] MattMcManis commented on #27
Thanks, unfortunately the program is written in C# and uses XAML for the GUI. Everything would have to be rewritten from scratch for Linux, this would take too long for me to accomplish at this time.

[2019-10-26 21:57] ghost commented on #27
anyway great work I appreciate it so much.

Em sáb, 26 de out de 2019 às 15:43, Matt McManis <notifications@github.com>
escreveu:

[2019-11-03 10:58] TheRandomLabs opened #28 "Incorrect value for -q:a"
Axiom generated `-q:a 4,48816` instead of `-q:a 4.48816`, which I assume is due to the fact that my system is set to a European language.

[2019-11-11 19:39] MattMcManis commented on #28
Thanks for finding this bug. I have only built and tested the program in American English.
I will see if I can add a filter that always corrects the comma to a period.

[2019-11-12 07:21] TheRandomLabs commented on #28
Brilliant!

[2019-11-26 11:02] DumbJoe commented on #24
Anyway to load an already save preset? Sometimes saved presets don't get loaded for some reason mean a force manual reload might do the trick....or maybe you have presents saved in different directories?

[2019-12-29 22:18] panther7 commented on #26
Same problem for nvidia cards, for HW accel you need: `-c:v hevc_nvenc` or `-c:v h264_nvenc`.

I am for it, dropdown for AMD/Nvidia HW encoder accel.

[2019-12-29 23:42] panther7 opened #29 "Run script in powershell"
Why? For example run UNC paths, like:
[code]

[2019-12-29 23:52] panther7 commented on #29
I found solution, use pushd/popd, like:

[code]
to
[code]

[2019-12-30 00:18] panther7 opened #30 "Batch script failing to set vBitRate"
[code]

[2020-01-06 08:44] LesterCovax commented on #30
int/int32 needs to be replaced with long/int64 it looks like.  Code here:
https://github.com/MattMcManis/Axiom/blob/3162dafdd060dd6d416092daf560534ac5616d17/source/Axiom/Axiom/Generators/Video.cs#L1107

[2020-01-10 18:23] mrnams opened #31 "Could not find stereo3d filter under filter tab"
Hello,
Tons of thanks for initiating this application.
Your efforts are highly appreciated.

Its not bug but an important (show stopper for me) filter " stereo3d filter" is missing in filter tab

[2020-01-28 00:19] Octavian-the-ent opened #32 "Please add minterpolate feature"
First off I would just like to thank you for taking the time to develop this, its the best FFMpeg GUI I've been able to find. My request is simply the title. I would like to play around with frame interpolation for animation. If you could take the time to add this I would really appreciate it!

[2020-03-12 08:39] synthercat commented on #32
+1

[2020-03-12 09:36] synthercat opened #34 "I can't seem to be able to edit the scripts"
First of all congratulations and thank you for the app. It's a simple & straightforward app (as all apps should be).

I decided to change the auto-generated ffmpeg script to reflect the advice found here: https://trac.ffmpeg.org/wiki/Encode/VP9

After waiting for 6 hours for my 1-minute video to encode... I checked the app log just to verify that the correct settings were used only to find out tha

[2020-03-24 02:36] ZhxChen opened #35 "Subtitles"
that  need \\ before the colon : (i.e. \\:) and \\\\ in place of single backslashes \ e.g.:

subtitles=C\\:\\\\users\\\\\\\\home\\\\desktop\\\\subs.srt

[2020-03-26 07:49] MarcoRavich commented on #26
...and what about Intel QuickSynch ?

[2020-03-26 07:57] MarcoRavich commented on #21
Here's some links that may help/inspire:

1. [Graphical measurement](https://github.com/dericed/ffmpeg-mpeg2video-clipping)
2. [Videotek scope (for AviSynth)](https://forum.doom9.org/showthread.php?p=1832846)
3. [Optimal ffmpeg-transcode settings, including color-space, color-range etc.](https://superuser.com/questions/1473620/optimal-ffmpeg-transcode-settings-including-color-space-color-range-etc

[2020-03-28 17:14] ahmadjamalmughal47 opened #36 "If we wish to download partial video from some youtube-dl supported site then it downloads entire file first and then splits them"
Great application first of all. But this feature can be improved. I'll try to illustrate with an example. Let's say we're in PowerShell.
`$a = youtube-dl --get-url _link_
ffmpeg -ss "00:00:00" -to "00:01"00 -i $a[0] -ss "00:00:00" -to "00:01"00 -i $a[1] output.mp4 `
Here `$a[0]` will be audio-only URL and `$a[1]` will be video-only URL.
It can be implemented for YouTube, Facebook because these two

[2020-04-09 13:46] MattMcManis commented on #30
Hi, sorry I had to put updates to this project on hold.

I have released a new version 1.7.8.1. Press the update arrow button in Axiom, or download from here https://github.com/MattMcManis/Axiom/releases

Let me know if it solved the problem.

[2020-04-09 13:48] MattMcManis commented on #28
Sorry I was sick for 2 months and got behind on updating this project.

I have released a new version 1.7.8.1. Press the update arrow button in Axiom, or download from here https://github.com/MattMcManis/Axiom/releases

Let me know if it solved the problem.

[2020-04-09 13:49] #27 closed

[2020-04-09 13:53] MattMcManis commented on #29
Hi, I had put updating this project on hold for a while.

I will see about adding an toggle option in the Settings Tab for switching between CMD and PowerShell for this feature.

[2020-04-09 15:47] MattMcManis commented on #35
Hi, is this for use with PowerShell?

[2020-04-09 15:52] MattMcManis commented on #36
Thanks, I will work on implementing this feature.

I do not know all the commands and abilities of youtube-dl, so I had only added the most basic functionality of it to Axiom.

If youtube-dl ever stops working properly with Axiom, make sure to update it. I think it is constantly changing to adapt to YouTube and other website changes.

[2020-04-10 02:51] iciness opened #37 "v1.7.8.1-alpha was reported to find a Trojan"
![Snipaste_2020-04-10_10-51-19](https://user-images.githubusercontent.com/4505686/78957939-4299dc80-7b19-11ea-83b2-17fc15f5e37f.png)

[2020-04-10 08:25] MatthewAllan93 commented on #21
Hey I know how to add these parameters to files in FFmpeg but thanks anyway @forart :).

[2020-04-11 14:07] MarcoRavich opened #38 "[SUGGESTION] Aggressively optimized builds tuned for modern processors"
Please check this 3ad about building FLAC encoder specifically for Haswell CPUs:
https://hydrogenaud.io/index.php?topic=118008.msg981823#msg981823

It would be realy great - and eco-friendly - obtain faster encodings, expecially when filters are enabled.

Hope that inspires.

[2020-04-11 19:55] BlakeCochrane commented on #38
That would need to be implemented in libavcodec in ffmpeg rather than Axiom as that is outside of the scope. Axiom is just a front-end GUI interface for FFMPEG and Youtube-dl

[2020-04-11 20:36] BlakeCochrane commented on #37
https://www.virustotal.com/gui/file/a27332faf4ddae6d59abaab1a961b1662e8fca9ae5b43abad55e227c21bdd2ec/detection

False positive from Windows Defender

[2020-04-12 16:29] MattMcManis commented on #37
I'm unsure why this would happen, nothing major has changed in the code since last release. Do you know what it could be?

The exe file does not contain any ads or anything malicious. All source code can be downloaded and compiled with Visual Studio for comparison.

The only online connection the program makes at startup is to the [version file](https://raw.githubusercontent.com/MattMcManis/Axiom/

[2020-04-12 16:56] MattMcManis commented on #34
Hi,

Your script changes did not apply when you pressed the Run button?

---

If you press the `Script Button` and manually edit the Script, you must then press the `Run Button` to execute those changes.

If you press the `Convert Button` after editing the Script, it will scrap your changes and apply the chosen settings from dropdown menus and controls instead.

A dialog window should appear with

[2020-04-12 20:02] MattMcManis commented on #37
I have released a new version 1.7.9.0.
https://github.com/MattMcManis/Axiom/releases

I read someone fixed the same problem by adding a GUID to the Project's Assembly Information. Even though the program doesn't use a registry GUID, I added it to try.
https://stackoverflow.com/a/44731840

Axiom.exe
https://www.virustotal.com/gui/file/618d14cd0171b8a88cc36db2e34a03edbb740c1b07bbc762dc91e2562e216fc1

[2020-04-13 01:13] iciness commented on #37
Thanks

[2020-04-13 01:13] #37 closed

[2020-04-13 08:31] forart opened #39 "[FEATURE REQ] Autocrop"
It would be very interesting to impelent autocropping in Axiom too !

Resources:
- https://stackoverflow.com/questions/17265381/ffmpeg-get-value-from-cropdetect
- https://www.bogotobogo.com/FFMpeg/ffmpeg_cropdetect_ffplay.php
- https://youtu.be/CGzAaXZcQMo?t=440

Hope that inspires.

[2020-04-13 14:55] gakz91 opened #40 "Windows Security deems it a trojan"
When downloading the 7z file, computer lags up hard in an attempt to remove the software, as it is considered as a trojan.

[2020-04-13 16:50] MattMcManis commented on #40
It's a false-positive, I'm unsure why.

Another user also reported it here. https://github.com/MattMcManis/Axiom/issues/37

VirusTotal Scans:

Axiom.exe
https://www.virustotal.com/gui/file/618d14cd0171b8a88cc36db2e34a03edbb740c1b07bbc762dc91e2562e216fc1/detection

Axiom.zip
https://www.virustotal.com/gui/url/b24346822adecc663f9d53a5e053857843652bab8f59aa77ff60e7a7f52f02a7/detection

Axiom.FFmpeg.7

[2020-04-13 17:08] MattMcManis commented on #40
I've submitted a sample to [Microsoft Security Intelligence](https://www.microsoft.com/en-us/wdsi/filesubmission) for them to analyze.

[2020-04-15 03:39] BlakeCochrane commented on #40
What I think was happening was the auto-updating and network related code might be triggering a red flag and the executable does not meet the security standards, possibly. A Code Signing Certificate might fix the problem for $70 /yr if it comes up again.

[2020-04-30 06:07] Henri-J-Norden opened #41 "Setting HW Accel to "nvenc" when using x265 does not set the encoder to "hevc_nvenc" as expected"
Hi!
I noticed that with nvenc on x264 I got an encoding framerate >100fps, while with x265 the performance was an abysmal ~15 fps.

The issue: on x264 with HW Accel set to `nvenc`, the program properly sets the encoder to `h264_nvenc`, while on x265 the encoder is always set to `libx265`. I verified this by manually changing the encoder in the generated script to `hevc_nvenc` and this resulted in

[2020-05-06 19:58] MattMcManis commented on #41
Thanks for finding this bug, it was a typo in the code, causing it to skip x265.

I've released an update.

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

[2020-05-09 13:26] mjebrahimi opened #42 "Add support for other HW Accel"
Add support for other HW Accel such as:
- cuda
- qsv
- d3d11va

[2020-05-10 15:30] VA1DER commented on #41
There is still a bug.  The "fix" sets the encoder as "x265_nvenc", but for x265 the codec should be set to "hevc_nvenc".

[2020-05-11 01:47] MarioTainaka opened #43 "Can't Batch Encode Wav Files"
Hi there, it's little GUI is quite amazing. I do have one issue I can't encode wav files in batch. If I do ffmpeg errors saying it can't find the encoder and setting are wrong. But if you do the files on there own with the exact same settings they do encode.

[2020-05-11 02:08] MattMcManis commented on #41
@VA1DER

I see, the HWAccel section had a some other problems with it. I've released an update.

**cuvid**
`x264` is `-c:v h264_cuvid`
`x265` is `-c:v hevc_cuvid`

**nvenc**
`x264` is `-c:v h264_nvenc`
`x265` is `-c:v hevc_nvenc`

**cuvid**+**nvenc**
`x264` is `-hwaccel cuvid -c:v h264_nvenc`
`x265` is `-hwaccel cuvid -c:v hevc_nvenc`

[2020-05-11 02:15] MattMcManis commented on #43
Hi, thanks.
Can you post the script that it generates?

[2020-05-11 02:30] MarioTainaka commented on #43
This happens on every file during converting

C:\Users\sjomm\Desktop\StreamTool-master\mcoutput>(echo)  && "C:\Users\sjomm\Desktop\FFMpeg Gui\ffmpeg\bin\ffmpeg.exe" -y -i "C:\Users\sjomm\Desktop\StreamTool-master\mcoutput\voice_00.xma.wav" -vn -sn -c:a pcm_s16le -b:a %A -rematrix_maxval 1.0 -ac 2 -map 0:a:0? -map_metadata 0 -f wav -threads 0 "C:\Users\sjomm\Desktop\SH 2 NEW MIX\CONV\voice_00.xma.w

[2020-05-11 04:41] MattMcManis commented on #43
I've released an update `v1.7.9.4`, let me know if it fixes it.

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

---

It looks like I needed to remove `-b:a %A` for wav. Leaving it blank lets `PCM` use the FFmpeg default, which I think is the max bit rate. You can still se

[2020-05-11 04:43] MattMcManis commented on #42
Hi, thanks for the suggestion. I will work on this.

[2020-05-11 05:16] BeyondVertical commented on #40
I had this last week when updating to the new version. It is really annoying, especially on the computer at the office. Please fix this!

[2020-05-11 15:01] MarioTainaka commented on #43
It works flawlessly converted all 159 files without an issue.

[2020-05-12 03:59] VA1DER commented on #41
There is still an issue with cuvid and cuvid+nvenc.  Neither produce proper command lines for me.

Cuvid is a decode-only acceleration, so -c:v hevc_cuvid has to appear before the input file.  The output codec should be just the non-accelerated libx265, for example.

Cuvid+NVENC - is this even a legal usage?  I can't get it to work with any command line in my FFMPEG.

[2020-05-12 04:22] MattMcManis commented on #41
I'll fix `cuvid`, and might remove `cuvid+nvenc`, and add these new options https://github.com/MattMcManis/Axiom/issues/42#issue-615176173 I'll release an update soon.

[2020-05-12 05:25] MattMcManis commented on #41
@VA1DER

Does this look correct?

**dxva2** (decode)
[code]

**cuda** (decode)
[code]

**cuvid** (decode)
[code]
or
[code]

**nvenc** (transcode)
[code]

**nvenc+cuda** (transcode)
[code]

**qsv** (transcode)
[code]

Resources:
https://trac.ffmpeg.org/wiki/HWAccelIntro
https://trac.ffmpeg.org/wiki/Hardware/QuickSync

[2020-05-12 08:13] MattMcManis commented on #41
@VA1DER

I redid a lot of the code for HW Accel. I released the update for you to test.

`CUVID` still might not work properly, I don't have the custom compiled ffmpeg to test it.

`Intel QSV` `hevc_qsv` gives `loading plugin` error, but `h264_qsv` works.

[2020-05-12 08:25] MattMcManis commented on #42
I released an update for you to test.

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

---

A few issues with `Intel QSV`:

I'm using the `Software decode` option `-init_hw_device qsv=hw -filter_hw_device hw`.
I couldn't get the regular `-hwaccel qsv -c:v h264_qsv` to work

[2020-05-12 16:54] JavaShipped opened #44 "Possible addition of Advanced Audio Channel Manipulation"
Hey there, I've been trying (and failing) to execute an ffmpeg command that will split my 5.1 video into 6 seperate audio tracks as detailed [here](https://trac.ffmpeg.org/wiki/AudioChannelManipulation).

This would be a powerful addition to the default GUI toolset!

[2020-05-12 20:17] VA1DER commented on #41
@MattMcManis

The Zeranoe ffmpeg builds (I use the [static ones](https://ffmpeg.zeranoe.com/builds/win64/static/)) have all the hardware support built in.

CUVID Decode: Omit the "-hwaccel cuvid".  With CUVID you just need to know the input codec and to speciffy the correct cuvid decoder on the command line.
`ffmpeg -c:v h264_cuvid -i input.mp4 -c:v (outputcodec) output.mp4`

It's kind of dumb, ac

[2020-05-12 21:27] VA1DER commented on #41
@MattMcManis

For what it's worth, I put in an enhancement ticket with ffmpeg to clean up their command line:

https://trac.ffmpeg.org/ticket/8666#ticket

I don't hold out much hope, but we'll see.

[2020-05-13 02:44] MattMcManis commented on #41
@VA1DER

When trying to use `NVENC`, I get the error `Cannot load nvEncodeAPI64.dll`. Maybe my graphics card does not have the driver that supports it.

I might remove `CUVID`, since there is no easy way for the user to know the input codec.

---

How does this look for splitting HW Accel options into 2 parts?
Or I could have 1 menu with individual and all combinations.

**Decode**

- CUDA
- D3D11

[2020-05-14 12:22] #43 closed

[2020-05-15 10:34] MarcoRavich commented on #42
...what about **hwaccel auto** ?

[2020-05-15 11:06] forart opened #45 "[FEATURE REQ] Custom inter/intra matrices support"
As many other encoder's GUIs already support, it would be great if Axiom support custom matrices (useful for efficient MPEG1/2 encodes).

Here's how HCenc manages them:
http://foro.doom9.org/mpg/images/hc/hc-matrices.png

This is TMPEGEnc instead:
http://www.abreau.net/howto/tmpgenc/TMPGEnc_Template_files/TESMatrix.gif

Last but not least, a - maybe - inspiring HCenc functions page:
http://foro.do

[2020-05-15 11:43] MattMcManis commented on #42
@forart

I did not know it exists, I will add it in the next update soon.

[2020-05-15 15:12] MattMcManis commented on #42
@forart

For `-hwaccel auto`, it works when converting `mp4`→`mp4`, `mp4`→`webm`, or `webm`→`webm`.
It automatically selects `dxva2`.

But when converting `webm`→`mp4` I get the error:
[code]

I'm not able to test it properly with my hardware. I'll add `auto` option, but leave `off` as the default so that users don't get hardware errors right out of the box.

[2020-05-15 15:14] mjebrahimi commented on #42
Hello Matt, thanks for the support.

Everything was fine, only `Intel QSV` was wrong for me.

This was the result of my tests on one input with _15.1 MB_ with different HW/A options

*   The result for other options (like cuda, d3d11va , dxva2) was _14.9 MB_
*   `-hwaccel qsv -c:v h264_qsv` works but not same result like others. (output : _62.5 MB_ !)
*   `-init_hw_device qsv=hw -filter_hw_device

[2020-05-15 16:00] MattMcManis commented on #42
@mjebrahimi

Thanks for the info, I will change `Intel QSV` to use `-hwaccel qsv -c:v libx264`, but it's not able to auto-detect the input codec for all media, so it may have to just be `-hwaccel qsv`.

I'm planning to split the HW Accel options into 2 menus, `decode` and `transcode`.
Take a look at the options in this post https://github.com/MattMcManis/Axiom/issues/41#issuecomment-627711167, let

[2020-05-15 16:21] mjebrahimi commented on #42
Thanks, but I don't have enough knowledge to comment on this case :)

[2020-05-16 11:22] MarcoRavich commented on #42
@MattMcManis

Seems an FFMPEG's bug.

Here's an interesting (verbose) discussion about FFMPEG hw encode:
https://emby.media/community/index.php?/topic/10723-gpu-transcoding-intel-quicksync-and-nvidia-nvenc/

[2020-05-16 11:37] MattMcManis commented on #42
@mjebrahimi @forart

I've released an update with some new options:

- HW Accel `Decode` and `Transcode` menus.
- HW Accel `Decode` option `auto`.
- HW Accel `Transcode` option `AMD AMF` for `x264`/`x265`.
- Video Tab has new Sub Tabs, `Encoding`, `Color`, `Size`, to reduce the vertical scrolling height.

![](https://i.imgur.com/ChhOslZ.png)

These changes could introduce new bugs, you will have t

[2020-05-16 11:40] MattMcManis commented on #41
@VA1DER

I've released an update with some new options:

- HW Accel `Decode` and `Transcode` menus.
- HW Accel `Decode` option `auto`.
- HW Accel `Transcode` option `AMD AMF` for `x264`/`x265`.
- Video Tab has new Sub Tabs, `Encoding`, `Color`, `Size`, to reduce the vertical scrolling height.

![](https://i.imgur.com/ChhOslZ.png)

These changes could introduce new bugs, you will have to test it ou

[2020-05-16 17:12] MattMcManis commented on #26
@NikoofDeath @panther7

It's taken a while to get to this, but I've released an update with some new options:

- HW Accel `Decode` and `Transcode` menus.
- HW Accel `Decode` option `auto`.
- HW Accel `Transcode` option `AMD AMF` for `x264`/`x265`.
- Video Tab has new Sub Tabs, `Encoding`, `Color`, `Size`, to reduce the vertical scrolling height.

![](https://i.imgur.com/ChhOslZ.png)

These changes

[2020-05-17 05:57] MattMcManis commented on #21
@MatthewAllan93

I've released an update with the color options:
- `primaries`
- `transfer characteristics`
- `colorspace`
- `color range`

Example script looks like:
[code]

It does not yet have the `-x264-params` version:
[code]

---

![](https://i.imgur.com/xlIJmJu.png)

---

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom

[2020-05-17 16:39] mjebrahimi commented on #42
All _Transcode_ options with _Decode: CUDA_ gives an error for me.

[code]

This is output script for _decode CUDA_ and _transcode off or auto_ that gives error.

[code]

[2020-05-17 17:36] MattMcManis commented on #42
@mjebrahimi

Can you find the correct options that work and post the script?

---

https://trac.ffmpeg.org/wiki/HWAccelIntro#NVDECCUVID

**Sample decode using CUDA:**
[code]
**Full hardware transcode with NVDEC and NVENC:**
[code]

---

I'm not able to test it with my setup, I get the error:

[code]

[code]

[2020-05-17 18:06] mjebrahimi commented on #42
I was only able to get the correct result from the below script (no full hardware transcode - by removing `-hwaccel_output_format cuda`)

[code]

[2020-05-17 18:26] MattMcManis commented on #42
@mjebrahimi

I will change it in an update.

Does the `Intel QSV` work for you?
It uses `-hwaccel qsv -hwaccel_output_format qsv`.

---

Info I could find on `-hwaccel_output_format`:

https://gist.github.com/Brainiarc7/95c9338a737aa36d9bb2931bed379219

[2020-05-17 22:15] mjebrahimi commented on #42
Yes, it works well.

@MattMcManis , I don't know enough about ffmpeg hwaccel, but if you want, I can give you access to my machine (via AnyDesk or etc...) to test different scripts as you wish.

[2020-05-18 11:53] MattMcManis commented on #42
@mjebrahimi

Thanks, I'll let you know if needed.

I've released an update for `hwaccel cuda`, and some other improvements, [changelog](https://github.com/MattMcManis/Axiom/blob/master/CHANGELOG.md#1820---may-18-2020).

[2020-05-19 06:34] mjebrahimi commented on #42
_Run_ button doesn't show any reaction anymore in [v1.8.3-alpha](https://github.com/MattMcManis/Axiom/releases/tag/v1.8.3.0-alpha) ?!

But script for _CUDA_ is OK now 👍.

[2020-05-19 10:02] MattMcManis commented on #42
@mjebrahimi

Are you sure? It is working for me. I added support for CMD and PowerShell in the last update.

![](https://i.imgur.com/Rve0Tpu.png)

[2020-05-19 11:51] MattMcManis commented on #42
@mjebrahimi

If you want to, open a separate Issue for the Run button. I am looking into it, trying to optimize the code and find bugs, but I'm unable to reproduce the error.

Let's keep this thread for HW Accel.

[2020-05-20 00:12] mjebrahimi opened #46 "[Bug]: Run button doesn't show any reaction after upgrading to v1.8.3-alpha"
This problem occurs only if you use an older version and upgrading to _v1.8.3-alpha_.

**Problem Details:**

After adding the Shell feature, because previous versions did not have this feature, the config file (`axiom.conf`) does not contain the `Shell_SelectedItem` setting and the `VM.ConfigureView.Shell_SelectedItem` property will be set to empty in the `ReadConfig` method but in UI it still sho

[2020-05-20 00:24] mjebrahimi commented on #46
Of course, I opened a new issue and explained the cause of the problem.

Thanks again for your support on HW Accel.

[2020-05-20 00:24] mjebrahimi commented on #42
Of course, I opened a new issue and explained the cause of the problem.

Thanks again for your support on HW Accel.

[2020-05-20 02:02] MattMcManis commented on #46
Thanks for finding this, I had not thought this far ahead for the upgrade process.

For a quick fix,  in `ReadConfig()` I made `Shell_SelectedItem` select `CMD` as default if it has loaded an empty value.

[code]

I've released an update.

I deleted the config and did a test upgrading `v1.7.8.1` to `v1.8.4.1` and it seems to work, both Run and Convert buttons function.

[2020-05-20 12:12] MattMcManis commented on #46
Another way I've decided to go.

I've set null checks for all items in the `ReadConfig()`.

If it imports an `empty` value from `axiom.conf`, it will skip it and let the `ViewModel` `LoadControlsDefaults()` set the default value.

---

ReadConfig()
[code]

LoadControlsDefaults()
[code]

---

Let me know if this works for you.

[2020-05-20 23:41] mjebrahimi commented on #46
It works now 👍.

This is good way to check the value before set but it would be better if you wrote a static method to prevent you from repeating your code.

In addition the `string.IsNullOrWhiteSpace` method also checks for empty so there is no need to `IsNullOrEmpty`.

[2020-05-21 00:37] MattMcManis commented on #46
That's good to know about `string.IsNullOrWhiteSpace`, I thought empty and whitespace each had their own.

I will go through and optimize the code.

[2020-05-21 11:44] mjebrahimi opened #47 "[Bug]: Audio Codec ComboBox doesn't work properly with mp4 format"
I couldn't understand the cause of the problem but when you select _mp4_ format, the audio codec ComboBox just selects _Copy_ and you can't choose another options.

[2020-05-21 14:45] MattMcManis commented on #47
That was a feature not yet ready that I was working on, it looks like I missed disabling it for Audio.

It's meant to automatically select `Copy` Codec if the `input` extension is the same as the `output` extension, that way it does not have to re-encode if it's not needed. If any options are chosen such as a new quality, it will then select a Codec, such as `x264`, for encode. But it does not wor

[2020-05-21 15:05] mjebrahimi commented on #47
All right, it's working right now for me.

[2020-05-21 15:32] MattMcManis commented on #47
I will eventually get it all working and enable it again.

[2020-05-22 23:30] #46 closed

[2020-05-23 03:17] #10 closed

[2020-05-23 03:20] #26 closed

[2020-05-23 03:21] #25 closed

[2020-05-23 17:01] MattMcManis commented on #35
@ZhxChen

I see, it was for Burn Subtitles. I've fixed the path and tested an srt file. Let me know if it works for you.

I've also fixed some bugs and added new features.

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

[2020-05-23 17:39] MattMcManis commented on #42
@mjebrahimi

I found a problem with **Intel QSV**.
**CRF** `-crf` does not work, only **Bit Rate** `-b:v` 1 and 2 Pass works.
**CRF** ends up setting the lowest default bit rate when used with `-c:v h264_qsv`.

---

https://trac.ffmpeg.org/wiki/Hardware/QuickSync

It says "ICQ mode (which is similar to crf mode of x264)" `-global_quality 25`
But I cannot get it to work. I get the error ` Selected

[2020-05-24 01:04] MattMcManis commented on #42
@mjebrahimi

It looks like none of the HW Accel codecs will work properly with CRF, they all have their own arguments.

I will have to make a system for the CRF slider that automatically converts the values into `-rc:v vbr_hq -cq:v` values along with bit rate.

https://superuser.com/a/1236387/740888

[2020-05-25 15:52] ZhxChen commented on #35
I have done testing and this bug has been fixed. Thanks Reply.

[2020-05-25 16:01] #35 closed

[2020-05-27 07:34] MattMcManis commented on #23
@DumbJoe

I had not worked on this project for a while, but I have been updating it for the last 2 weeks.

I've added `MagicYUV` for `mkv`.

Try out the latest version, let me know how it works.

---

Press the arrow button in Axiom to update or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

Also update your FFmpeg to the latest [Git b

[2020-05-27 15:15] jorgebr opened #48 "[FEATURE REQ] CMD options"
Hi,
I always manually edit the script as follows:
(1) Add      `START "" /B /LOW`      before the ffmpeg command.
     This opens a new window running in /LOW priority.  Sometimes I use "/BELOWNORMAL"

(2) I change "`-y`" (overwrite output files)   to  "`-n`"  (never overwrite output files)
Example:
[code]

If the GUI had options for adding those, it would be great.  For example:

- a dropdown cal

[2020-05-27 15:26] jorgebr opened #49 "[FEATURE REQ] x265 yuvj420p option"
My Google Pixel 3 encodes videos in HEVC using pixel format `yuvj420p`, but that option does not show up for x265.  I only see, among others, `yuv420p` (without the j).

If I use x264, the option `yuvj420p` does show up.

I'm not a video tech,  just a user.  Some internet postings suggested that `yuvj420p` may be outdated, but if Google is using it for their Pixel phones, then it must still be val

[2020-05-27 19:13] MattMcManis commented on #48
Hi, thanks for using Axiom.

I will work on adding a Priority dropdown menu with different levels.

And an overwrite toggle button that will set it to `-y` or `-n`.

I will have it save their state to the config file so you won't have to switch them every time.

[2020-05-27 19:18] MattMcManis commented on #49
It looks like `yuvj420p` is a supported pixel format for `x265` in FFmpeg. I will fix it and release an update soon.

[2020-05-27 21:07] MattMcManis commented on #48
@jorgebr

How are you using the Priority with 2 Pass?

When I set `START "" /B /LOW` for `ffmpeg` pass 2, I get the errors:
[code]

and Pass 2 does not start.

---

Update: I think I found the solution, it's `start /low /wait /b`.

[2020-05-28 07:42] jorgebr commented on #48
Great!  I only use CRF, so I didn't think about the implications for 2-pass.  Great you figured it out.

Thanks for working on this!

[2020-05-28 21:29] MattMcManis commented on #48
@jorgebr

I've almost finished it, I'm just getting Process Priority to work with PowerShell and Batch Processing.

It will work with CMD, PowerShell, CRF, 1 Pass, 2 Pass, Batch, and YouTube-DL.

---

The new menus are going to look like this:

![Menus](https://i.imgur.com/xwEpBxU.png)

**Priority**
- Default
- Low
- Below Normal
- Normal
- Above Normal
- High

**Overwrite**
- Ask (blank)
- Always

[2020-05-29 00:06] jorgebr commented on #48
Perfect!   Thank you!

[2020-05-29 03:58] MattMcManis commented on #48
@jorgebr

I've released an update v1.9.0.0. Let me know how it works. It will need more testing.

Press the arrow button in Axiom to update through PowerShell, or download from here
https://github.com/MattMcManis/Axiom/releases

![Update](https://i.imgur.com/mfqw9Mm.jpg)

---

Process Priority Script Examples:
---

Axiom will now generate these scripts.

CMD
---

**1 Pass / CRF**

[code]

**2 Pass

[2020-05-29 05:43] MattMcManis commented on #49
@jorgebr

This has now been fixed in the latest version 1.9.0.0.

[2020-05-29 21:42] jorgebr commented on #49
It's there!  Thank you!

[2020-05-29 21:44] jorgebr commented on #48
Amazing!  So far, it's working perfectly.  Thank you!

[2020-05-29 22:26] MattMcManis commented on #48
@jorgebr

Thanks, this was a good feature suggestion.

I'll leave this thread open for few weeks. Report back if you come across any problems.

[2020-05-29 23:12] jorgebr opened #50 "[FEATURE REQ] Variables/tokens in output file name"
Ok, I submitted two issues and you solved them within a couple of days. Blown away!
So I'm probably over-reaching now :-), but here's another enhancement idea.

When I'm trying different permutations to see what quality/space/time tradeoffs are best in different situations, I end up naming my output files with the encoding parameters, e.g.:
"outfilename 1080p x265 crf35 p-superfast opus.mp4"
"outf

[2020-05-29 23:58] MattMcManis commented on #50
I've never used variable tokens with ffmpeg before, I'm not sure if it supports that, I will have to ask.

What if I had an output naming section with checkboxes that let you select which settings you want displayed in the output filename? I would have C# variables generate the output filename automatically in the script, then you wouldn't need ffmpeg syntax.

[code]

outfilename.mp4

outfilename

[2020-05-30 09:09] #49 closed

[2020-05-30 18:21] jorgebr commented on #50
That's a _great_ idea.  It eliminates the work of parsing the output filename.

I have one more thought, to avoid typing or copy/paste into the Output filename field altogether -- split the Output Naming Section in two, adding a section to copy parts of the input filename:
\--------------------------------------------------------------------------------------------
**Copy from Input filename**
`

[2020-05-31 00:56] Thiagobhmg opened #51 "Convert files to HLS (.m3u8)"
It would be great to be able to output files in HLS. It would be possible? Could anyone help?

[2020-05-31 01:33] MattMcManis commented on #50
@jorgebr

I will go over this and try to add these features.

The first release might be more simplified until it is complete.

The **Output File Namer** in Axiom might already handle some of the path issues. It also has a **File Renamer** that appends (1) to the name if it already exists, to avoid accidental overwrite.

The **File Settings Namer** will work similar to how the Subtitle menu works.

[2020-05-31 01:39] Thiagobhmg commented on #51
I managed to run a batch to generate the .m3u8 file, you could add the conversion to this format in the list too, with more options.

"F:\convertvideos\Axiom.FFmpeg\ffmpeg\bin\ffmpeg.exe"

-i "F:\test\test.mp4"

-profile:v baseline
-level 3.0
-s 1920x1080
-start_number 0
-hls_time 10
-hls_list_size 0

-f hls index.m3u8

[2020-05-31 02:57] Thiagobhmg commented on #51
I return to congratulate the work that is being developed in this program. I think they should really think about adding the output in HLS (m3u8). In none of the other systems there is the possibility of making this conversion. I managed to adapt the script but it would be great to have this option to select.

[2020-05-31 06:48] MattMcManis commented on #51
@Thiagobhmg

I will take a look at adding it.

What is the conversion doing? It converts the `.mp4` to a `.ts` file and creates an `.m3u8` playlist for it?

Do you have more information on these 3 options?:
- -start_number 0
- -hls_time 10
- -hls_list_size 0

[2020-05-31 09:03] MattMcManis commented on #48
@jorgebr

I found an error with **External Subtitles** using **PowerShell** and **Process Priority**.

In the next update I will be changing `-ArgumentList` to use double quotes `"` instead of single `'`, and it will escape `" double quoted filters and paths.

---

Before

[code]

After

[code]

[2020-05-31 15:45] MattMcManis commented on #50
@jorgebr

I've released an update here
https://github.com/MattMcManis/Axiom/releases
https://github.com/MattMcManis/Axiom/releases/download/v1.9.1.3-alpha/Axiom.zip

I have not uploaded the version file yet, so it will not notify users, and the update button in the program won't detect it.

If you will test it for me first, then I will release the official update in 2 days.

---

Example Output Fi

[2020-05-31 21:56] jorgebr commented on #50
It's looking great!  I like how you did the interface.

I did a couple of quick tests, but unfortunately I won't be able to do more extensive testing for a few days.  So far, I found:
* The "size" checkbox worked with source set to a value, eg "720p", but does not change the output name when it's set to "Source".   Not a big issue, but I think, in this specific case, I would prefer something like

[2020-05-31 22:25] MattMcManis commented on #50
@jorgebr

Thanks for testing, I will take a look at these issues and re-upload some improved versions over the next 2 days. I'll notify you when I release a fix.

- The **Output button** is just the **Output Path button**, next to the **Input button** at the top of the program.

- I have the naming ignore settings like `Auto`, `None`, `Off`, `Source`, `Copy`, but I can add `sz-source`.

- I tried

[2020-06-01 01:16] MattMcManis commented on #50
@jorgebr

I've updated the `v1.9.1.0` release file, download it again and replace your `Axiom.exe`.

https://github.com/MattMcManis/Axiom/releases
https://github.com/MattMcManis/Axiom/releases/download/v1.9.1.3-alpha/Axiom.zip

---

With the new version fixes:
---

**Output Name Edits**

Only edit the **Output Filename** in the **Save File Dialog Window**. When you click `Save`, Axiom will save th

[2020-06-01 07:24] MattMcManis commented on #34
@synthercat

I have been working to fix bugs stabilize the program.

Take a look at the latest version and let me know if it solves the issues.
https://github.com/MattMcManis/Axiom/releases

[2020-06-01 10:38] synthercat commented on #34
Although lately I prefer my own direct command line ffmpeg, I will try to
find some time in the next days and help you with some quick tests in Axiom.
Take care fellow coder.

On Mon, Jun 1, 2020 at 10:24 AM Matt McManis <notifications@github.com>
wrote:

--
Antonis Savvidis

[2020-06-01 15:22] Thiagobhmg commented on #51
I am testing various combinations. I will try to describe what each thing in HLS does as I understand it.

The best combination so far has been this one. Because it ran with the CUDA of the video card (I was very happy with the possibility) because it improved the conversion speed of the files by 6x. I didn't understand why you don't use all the processing power of the board, is it possible to con

[2020-06-02 03:00] Thiagobhmg commented on #51
I found this script that can help:

would it be possible to run this script on Windows?

Sorry for the questions, I'm not a developer. I understand only the basics of programming.

Developed by @mrbar42

**File to be converted to HLS**

bash create-vod-hls.sh beach.mkv

[code]

[2020-06-02 03:46] Thiagobhmg commented on #51
-vf "scale=w=1280:h=720:force_original_aspect_ratio=decrease" - scale video to maximum possible within 1280x720 while preserving aspect ratio

-c:a aac -ar 48000 -b:a 128k - set audio codec to AAC with sampling of 48kHz and bitrate of 128k

-c:v h264 - set video codec to be H264 which is the standard codec of HLS segments

-profile:v main - set H264 profile to main - this means support in modern d

[2020-06-03 11:16] MattMcManis commented on #50
@jorgebr

I've added the **Regex Token Remover**.

https://github.com/MattMcManis/Axiom/releases

---

When you edit the file name in the **Output TextBox**, the program can't see what part of the text you changed, so it doesn't understand there's a new file name.

So now I have it backwards engineer the new name by stripping the tokens.

![](https://camo.githubusercontent.com/2641b95a0da8dcf80295

[2020-06-04 04:22] jorgebr commented on #50
I did a quick test and it's working.  What you did with the regex token remover is brilliant! I can edit the filename in the Output field and it still works.

However, I'm not convinced that should be the interface.  There are too many corner cases that could confuse users.  They could expect, for example, that if they edit some of the tokens, those changes would be maintained. It's just too much

[2020-06-04 14:15] MattMcManis commented on #50
@jorgebr

Thanks for testing. I'm making more improvements.

I'm not sure I want to add another field for the naming, I'm trying to keep the program compact. I'll see if I can make some adjustments so you can edit the tokens.

For Process Priority, I could add a Shell Title menu. What if I had a toggle with the options for User Custom, which leaves it blank `title ""` and Tokens, which injects the

[2020-06-04 17:13] MattMcManis commented on #50
@jorgebr

I've attached an update `v1.9.1.4` to this post for you, before I release it.

[Axiom.zip](https://github.com/MattMcManis/Axiom/files/4731620/Axiom.zip)

---

I overhauled all the [code ](https://github.com/MattMcManis/Axiom/blob/master/source/Axiom/Axiom/MainWindow/Output.cs) behind the **Output Button** and `OutputPath()` method to make functionality more logical.

---

I added the **S

[2020-06-04 21:47] jorgebr commented on #50
I was able to do a quick run, and found a bug:

1. Enter in Input filename:   c:\path\to\Wild.Kratts S03E02 Where The Bison Roam 1080p x264.mkv
Output filename: leave blank.
Other settings:  x265 crf30 AAC Preset=superfast Pixel format=yuv420p
Output naming checkboxes (in case that matters): Video Codec, Video Codec Copy, Video CRF, Preset, Pixel Format, Audio Codec

2. Click "Script".   Output fi

[2020-06-04 21:53] jorgebr commented on #50
Minor issue: Same setup as above, but tried to change the extension in the Output field to ".mp4".
 It gets over-written back to ".mkv" when "Script" is clicked.   Would need to make clear that can't edit anything after the 1st auto-generated token?

[2020-06-04 22:03] jorgebr commented on #50
On the prior bug, another case, same sequence, this time without a period in the filename:
Input filename: "Wild Kratts S03E03 Bandito The Black Footed Ferret 1080p x264.mkv"
w/blank Output field, clicking "Script" auto-generates:
"Wild Kratts S03E03 Bandito The Black Footed Ferret 1080p x264 x265 CRF30 p-super-fast yuv420p AAC.mp4"

Then manually deleting "x264" in the Output text, then click "Sc

[2020-06-05 04:59] MattMcManis commented on #50
@jorgebr

It's regex errors, catching the wrong sections of the text. The regex rules for file formats `ra` and `ts` were applied to the filename. I think I can isolate it so it doesn't catch partial text.

Here's the regex generated for your selected options:
https://regex101.com/r/Q3tBJB/1

---

My new idea is to remove the **Tokens Display** from the **Output TextBox** and have them only appear

[2020-06-05 16:50] MattMcManis commented on #50
@jorgebr

I've redesigned the Token system.

[Axiom.zip](https://github.com/MattMcManis/Axiom/files/4737884/Axiom.zip)

---

**Tags** will be the term I use for **Input** Filename Settings.
**Tokens** will be the term I use for **Output** Filename Settings.

---

In the **Settings Tab,** I added an **Input** section, with a **Tags Menu**.
You can set it to **Keep** or **Remove**.

This will try to

[2020-06-05 22:04] jorgebr commented on #50
Hmmm... I think this is confusing.

First, removing the Output Tokens from the Output TextBox, and showing them only in the script, is **definitely better**, because the user now won't think the tokens are editable.
And showing the output result in the script is a good compromise to avoid having to create an extra read-only field.

On the other hand, I find the name of "Tags" for the input confusi

[2020-06-05 22:30] jorgebr commented on #50
Wow... I just found a trick you may be interested in.  It's really cool I have to search for these new tricks because your improvements have made it so easy to kickstart a bunch of processes and let them run.

If "Quick Edit" is turned on, simply **selecting text in the cmd window will pause the process**!
This actually works, unlike "Ctrl-S/Ctrl-Q" which only pauses the display update but not the

[2020-06-06 03:33] MattMcManis commented on #50
@jorgebr

I can change **Tags** to **Tokens**.

You will need the **Regex Token Remover** because if the **Input Filename** has existing Tokens, the **Output Naming** will add the new Tokens alongside the existing ones.

`mp4` to `webm`

Doubled Up `x264`/`AAC` and `VP8`/`Vorbis` Tokens
**Input:** `File x264 CRF20 AAC 320k.mp4` →
**Output:** `File x264 CRF20 AAC 320k VP8 1300K CRF25 Vorbis 224k.we

[2020-06-06 04:13] jorgebr commented on #50
I don't understand why the first example is a problem:
`File x264 CRF20 AAC 320k VP8 1300K CRF25 Vorbis 224k.webm`

The "conflicting" tokens (eg x264 vs VP8, CRF20 vs CRF25) are just a happenstance that the Input file name has tokens, and so it's up to the user to deal with it.  The ability to edit the Script is a good way to do that.

In return, you gain simplicity, for both the user and you.  Yo

[2020-06-06 06:32] MattMcManis commented on #50
@jorgebr

[Axiom.zip](https://github.com/MattMcManis/Axiom/files/4739489/Axiom.zip)

Updates:
- Changed Input **Tags** to **Tokens**
- Added **Input TextBox** clears **Output TextBox** on file change
- Added another menu, **Output Filename Spacing**.

---

**Output Filename Spacing**

This can convert all `spaces` into `periods`, `dashes`, or `underscores`, if needed.
I would just leave it on `Ori

[2020-06-06 06:46] jorgebr commented on #50
Hi... 1:40am here.  Just glanced at this. Won't have time to download it and try it till tomorrow, but quick thoughts:
* I like the Input > Tokens > Remove option. The new word "Tokens" works, and certainly there will be cases where it is useful.
* Can't wait to try "Input TextBox clears Output TextBox on file change"
* The new "Output Filename Spacing" option is awesome! I am actually doing this

[2020-06-06 06:52] jorgebr commented on #50
One more idea:  is it easy to edit the Windows properties of the file?  It would be great to add the tokens to the "Comments" property of the file.  Here is a screenshot of the field I'm talking about.  Just in case, to get this dialog, right-click on a file and select "Properties".

![image](https://user-images.githubusercontent.com/1826493/83938241-44d68b00-a798-11ea-89c0-3375562b176c.png)

[2020-06-06 07:50] synthercat commented on #34
I get a file does not exist error even on simple scripts such as this
![file does not exist](https://user-images.githubusercontent.com/15571710/83939170-5f822180-a7e3-11ea-9c05-005ab8ea97eb.jpg)

Minor note, it's a bit annoying that as I scroll the settings and click/change something then I move the mouse wheel to scroll the settings bellow but instead my choice gets changed.

[2020-06-06 09:30] MattMcManis commented on #50
~~Remember that the **Spacing** option can only do `spaces` → `periods`, but not `periods` → `spaces` until I can work out the advanced regex rules to preserve number decimal points. Or else `44.1kHz` will end up `44 1kHz`.~~

**Update:** Someone has given me a regex code that allows converting between all `spaces`, `periods`, `dashes`, `underscores` while preserving number decimals.

[Axiom.zip](

[2020-06-06 10:50] sergeevabc commented on #24
One of the ugliest interfaces I have seen in a lifetime, along with [Hybrid][1] in this niche.

[1]: https://www.videohelp.com/software/Hybrid

[2020-06-06 20:17] jorgebr commented on #50
Downloaded the new version:
* "Input TextBox clears Output TextBox on file change" is not working.
I dragged a file from Windows Explorer to the Input field, and the Output field was unchanged. It should change to blank.<br/>
Even deleting the Input text and pasting new text does not work, even when the cursor exits the field.<br/>
Btw, if for some reason you can't get that to work, "auto select-a

[2020-06-06 20:42] jorgebr commented on #50
For the **Windows Properties Comments**, I agree with your decision that it's not worth that much effort.  You are right, there's a lot of different permutations.  I found out the hard way, for example, that I can edit the properties of mp4 files but not of Matroska (mkv) containers.

[2020-06-07 05:38] MattMcManis commented on #50
I'll fix those issue.

---

I only added the **Output TextBox** clear on **Input Button Press**, I forgot to add it to **Drag and Drop**.

---

I'll have to add those Tokens, `Amazon` and `DD`, as well as many others, to the **Remover**.
It won't work 100% of the time unless I can cover all tokens.

Example, regex rules for **Dolby** Tokens alone need to cover:
`Dolby` (`Digital`, `Pro`, `Pro II`,

[2020-06-07 06:41] MattMcManis commented on #50
Added **Input Drag and Drop** clears **Output TextBox**
Added more **Token** types to the **Regex Remover**
Fixed leftover **Tokens** combining without spaces.

https://github.com/MattMcManis/Axiom/releases/download/v1.9.2.0-alpha/Axiom.zip

---

**Input Token Remover**

1. **Filename**
File x264 CRF20 XYZ AAC 320k.mp4

2. **Regex identifies and removes tokens.**
**It does not recognize _XYZ_ (an

[2020-06-08 18:31] Thiagobhmg opened #53 "Automatic upload of the final result to an FTP server."
Add automatic upload functionality of the final result to an FTP server.

Since all execution is via shell, you could add sending the final result via FTP, this would be very useful.

Even file upload functionality for Amazon S3 servers and other services.

@ncftp

The commands are very similar to Windows ftp, to connect use the following command:

`ncftp -u user -p password ftp.site.com`

Directo

[2020-06-08 22:32] MattMcManis commented on #51
@Thiagobhmg

I will look over all this soon, I had to spend a few days finishing another feature.

[2020-06-08 22:34] MattMcManis commented on #53
Yes, it is possible I could add FTP type, username, and password fields in the Settings Tab.

I will let you know.

[2020-06-11 18:33] jorgebr commented on #50
It's working great!  One more token:  YIFY

[2020-06-12 05:40] MattMcManis commented on #50
@jorgebr

Try out this version
[Axiom.zip](https://github.com/MattMcManis/Axiom/files/4773657/Axiom.zip)

I want to avoid adding names of piracy groups into the code and program. I've only added general tokens. But I've added a text field where the user can add their own custom tokens and it will save/load them from the `axiom.conf` config file.

I've also added Input and Output **Clear TextBox**

[2020-06-13 17:14] Kyou12138 commented on #47
I conver MKV to MP4 but the MP4 has not sounds, how to solve

[2020-06-14 01:03] jorgebr commented on #50
You are totally right -- adding a field for user tokens is a much better solution.
The ClearText box buttons work.
And overall, it works great!

I mean, WHAT A JOB YOU'VE DONE! Right now, this is such a good tool!  My workflow is exponentially faster.  THANK YOU!

Right now, I can't think of any more improvement ideas for the one-file-at-a-time use case.

------------------------------------------

[2020-06-14 01:20] jorgebr opened #54 "[FEATURE REQ] Queues"
The latest improvements (set shell priorities and window titles, automatically generate filenames based on encoding & other options, etc.), allow one to quickly set up and run multiple jobs.

It is so easy that now we run into a new problem -- many shell windows open but there's only a limited number of shell priority values.  So, for example, in my workflow I end up having one process `belownorma

[2020-06-14 14:03] jorgebr opened #55 "Options for x265 "Screen Content""
I'm getting poor results using x265 for "screen content" -- text-heavy screen content such as educational how-to videos.  Even at same size files, I'm getting worse visual performance than OBS Studio's x264 output.

Doing some initial research, and more to follow, but for now, a quick one is that I found an additional value for the "tune" parameter: "animation". I see "grain" & other values but no

[2020-06-14 14:23] jorgebr commented on #55
This is an example of the type of screen content I'm talking about:
![image](https://user-images.githubusercontent.com/1826493/84595993-a5149f00-ae20-11ea-906c-f57fa0b459cd.png)

[2020-06-14 18:33] MattMcManis commented on #50
@jorgebr

Thanks for testing. We really took the program far.

The **Remove** option will still try to remove all general Tokens on its own, even if the **Custom TextBox** is empty, but the **Custom TextBox** will remove any extra Tokens you want to add.

I've done a little more work on it and released it `v1.9.2.2`.

There will probably always be hidden bugs, as the program is so big it's hard fo

[2020-06-14 21:08] MattMcManis commented on #54
I will have to look into this.

I have already planned a feature called **Jobs**, which will queue jobs with their selected settings to a list. It would then process each one, running `ffmpeg.exe` directly through Axiom, and piping the terminal's output to a textbox, instead of passing it to `cmd.exe`. However this feature is far away.

![Axiom Template Jobs](https://user-images.githubusercontent.

[2020-06-15 00:23] jorgebr commented on #54
That looks great ... but after thinking about it overnight, I'm now leaning that jobs/queues may not be worth it. One could just copy each script, and paste it cumulatively into a text batch file, which is then run manually in the shell.  One could add an "echo =================="  in between each "job"  to easily be able to look at the output later.

That's what I'll do from now on.

On the other

[2020-06-18 15:03] jorgebr opened #56 "[Enhancement] Add -vf mpdecimate -vsync vfr options"
I've had quite a number of videos that compress to a jumbled mess with x265.
The telltale sign is the message: `More than 1000 frames duplicated`

The mpdecimate and vsync options solved the problem:
`-vf "scale=trunc(iw/2)*2:trunc(ih/2)*2,mpdecimate"  -vsync vfr`

in place of:
`-vf "scale=trunc(iw/2)*2:trunc(ih/2)*2" `

* It's just adding the `mpdecimate` option to `-vf`,
* and adding the extra o

[2020-06-18 21:39] MattMcManis commented on #56
Yes, I can add this and the tokens in the next update.

[2020-07-03 08:20] TheRandomLabs commented on #28
Sorry for the late response, but it looks like it's fixed.

[2020-07-03 08:20] #28 closed

[2020-07-07 03:32] thisisjin opened #57 "Can you add multi-language support"
For example Chinese

[2020-07-13 19:41] goamberg opened #58 "Change Playback speed comma to point in script"
When using the speed setting over 100% it scripts with a comma instead of a point.
eg. 400%
setpts=,25*PTS,    -> correct would be:   setpts=.25*PTS,

[2020-07-22 01:25] Tox86 opened #59 "[Bug] I can't convert .avi to .webm"
Hello, and yes i can't convert.
![bug](https://user-images.githubusercontent.com/7013508/88123321-a613bb80-cb98-11ea-939b-8447b8e49368.png)
Cheers.

[2020-08-09 22:21] junguler opened #60 "readability problem with high contrast dark mode"
hi, i'm using high contrast mode on windows and when i use any themes other than system the buttons are shown as blank

![1](https://user-images.githubusercontent.com/59083599/89742903-551a2780-dab3-11ea-9cb4-504c5c55af81.jpg)

and when i use the system theme the text besides the fields are not readable

![2](https://user-images.githubusercontent.com/59083599/89742919-79760400-dab3-11ea-8f57-75024

[2020-08-14 21:38] Michael18751 opened #61 "[Feature Request] convert png files (or multiple images) in a folder to a video"
Every time I do it it gives me an error that it can't find the input file and when I try a script it does not seem to work either.

Can you tell me if this is a thing and if not can you please add it? Thanks!

[2020-08-17 18:04] junguler commented on #61
if you have access to git for windows, cmder or any other terminal emulator with bash support you can do this command:
`cat *.png | ffmpeg -f image2pipe -i - output.mp4`
or this one if you want lossless quality
`cat *.png | ffmpeg -f image2pipe -i - -codec copy output.mp4`
i recommend using cmder(full version) in general tho, it's portable and doesn't effect your system in any way.

[2020-08-17 18:21] #61 closed

[2020-08-25 19:08] stemcc opened #62 "How to encode using ProRes codec?"
Would love to test out using Axiom to prepare proxy media, however I'm at a loss right now on how to encode ProRes using Axiom. Is there a way to directly pass a video codec option in the ffmpeg command?

[2020-09-01 12:13] MattMcManis commented on #55
@jorgebr

Hey, I have been going through a family emergency for the past 3 months, that's why I have been unable to work on the program.

[2020-09-01 12:19] MattMcManis commented on #59
@Tox86

I have been away for 3 months because of a family emergency, program development and support will have to be put on hold.

Try copy pasting a simplified command into command prompt, and use FFmpeg directly instead of Axiom. If it cannot convert, then it's an issue with FFmpeg and not Axiom, and not something I would be able to fix.

[code]

[2020-09-01 14:26] MattMcManis commented on #62
Hello, I am currently dealing with a family emergency, and unable to help with support right now.

Enter `ffmpeg -codecs` in command prompt to see if it's a supported Codec. If it is, Axiom does not currently have settings for it.

However, you can still do it manually using FFmpeg through command prompt of it is supported.

[2020-09-01 14:30] MattMcManis commented on #58
I have been dealing with a family emergency and unable to respond.

The `C#` code it uses is `string speed = "setpts=" + val.ToString("#.#####") + "*PTS";`

It may be a language problem if you are in a another country than the United States. I will have to find out how to fix it.

[2020-09-02 15:55] goamberg commented on #58
no worries, family always first!
could be...using a german keyboard here.
But I did quick check and at least point and comma are the same on the GER and ENG layouts.
Tested switching keyboard languages and it did not resolve this.

Its not a big problem, always can change the this one character.

[2020-09-04 01:08] jorgebr commented on #55
Hi!
Hey, wow  ...  this was unexpected, an d I'm sooo sorry about your family
emergency.  I really hope things are better.

It was unexpected because you did SO MUCH!  I imagined you were just having
a super well deserved break from the program.
These types of projects happen in cycles ... when you have energy ... when
you have time ... when you are not tired of it ....
that's life!

I'm not sure

[2020-09-25 18:45] Adeleine opened #63 "Rename subtitle title?"
I have an .mkv file that has selectable subtitles, however they are titled incorrectly. They say they are English subtitles, when in fact they are Spanish subtitles. How can I rename them? Can I rename them without having to remux?

[2020-09-25 19:20] Thiagobhmg commented on #51
**updating the conversion script I was able to use.**

_With this script the youtube video will be downloaded, converted to .mkv and then the file in m3u8 will be converted to VOD, generating the Playlist._

[code]

[2020-10-08 07:37] nkh0472 opened #64 "Crash when using batch function."
First, click "batch" button & "INPUT" button, then select source folder;
Second, click "OUTPUT" button and select destination folder;
Then the window of Axiom will disappear without any notice.

Before crashing, the log console display as:
[code]

[2020-10-15 09:57] dephunk commented on #64
Are you on the latest update? I was getting error's with a previous build, but since updating to the latest I've had no issues. Love this GUI

[2020-10-16 08:09] nkh0472 commented on #64
Yep, as log displayed, I'm using the version of 1.9.2.3-alpha which is currently updated.

Besides, I forget to write, before clicking the "INPUT" button, I click the "batch" button firstly.

[2020-10-16 23:26] ESOCHI opened #66 "Installation Instructions"
When you say....

1. Extract `Axiom.FFmpeg.7z` to a location of your choice.
2. Run `Axiom.exe` or create a shortcut on the Desktop.
3. It will automatically detect ffmpeg.exe and ffprobe.exe in the included ffmpeg folder.

Do you literally mean files with those _exact_ names?
I've downloaded Axiom-master.zip and Axiom-1.9.2.3-alpha.tar.gz but neither have file names like what is mentioned.
Am I m

[2020-10-24 11:53] mochaaP opened #67 "[FEATURE REQ] Burning subtitles in batch mode"
### What feature is it?

Find the corresponding subtitle (filename match, different locale suffix) for the current video file. Gives a toggle in "Subtitles" menu and provide an input box or dropdown menu for choosing the locale suffix and subtitle folder.

### What problem does this feature solve?

e.g. with the following directory structure:

[code]

Select batch mode and use `folder` as the inpu

[2020-10-26 17:41] templarw opened #68 "Black Screen After Cutting Video"
There is a problem mentioned in the topic.

https://video.stackexchange.com/questions/16516/ffmpeg-first-second-of-cut-video-part-freezed

The problem is solved by applying the mentioned solution.

Try this:
ffmpeg -ss 00:36:18 -i input.mp4 -vcodec copy -acodec copy -to 00:39:50 output.mp4
It seems that setting the -ss parameter before -i sets a keyframe at the beginning of the newly generated vid

[2020-11-02 07:56] forart opened #69 "[SUGGESTION] Collaboration for better HDR/HDR10/HDR10+ support"
I discovered this very interesting page about UHD encoding in FFMPEG:
[Encoding UHD 4K HDR10 videos with FFmpeg](https://codecalamity.com/encoding-uhd-4k-hdr10-videos-with-ffmpeg/#fastflix,-doing-the-heavy-lifting-for-you!)

I believe that could be very interesting to establish some kind of collaboration/exchange between Axiom and [FastFlix](https://github.com/cdgriffith/FastFlix) in order to impl

[2020-11-06 08:54] forart opened #70 "[SUGGESTION] (almost) Proper methods of multichannel audio downmixing with FFMPEG"
Here are the [tebasuna51](http://forum.doom9.org/member.php?u=71585)' summary of downmixing audio filters that would be great to be implemented in Axiom too (IMHO):

-filter_complex "asplit [f][s]; [f] pan=3.1|c0=c0|c1=c1|c2=c2|c3=c3 [r]; [s] pan=stereo|c0=0.5*c4+0.5*c6|c1=0.5*c5+0.5*c7, compand=attacks=0:decays=0:points=-90/-84|-8/-2|-6/-1|-0/-0.1, aformat=channel_layouts=stereo [d]; [r][d] amerg

[2020-12-04 19:54] MattMcManis commented on #66
Hello, sorry I have been away.

You need to download the executable file. You are accidentally downloading the source code files.

Go here, scroll to where you see **Assets**, press the drop down arrow. You will see **Axiom.FFmpeg.7z**
https://github.com/MattMcManis/Axiom/releases

Or you can go here and click  **Axiom + FFmpeg (x64)**.
https://axiomui.github.io

[2020-12-04 19:56] MattMcManis opened #71 "Announcement From Axiom Developer"
Hello all, I stopped working on Axiom for a while, there was a death in the family.

A month after that I broke my elbow in an accident and was only able to type and move the mouse with my left hand. I've regained the ability to type again, I plan to continue working on the program when I can.

[2020-12-04 19:59] MattMcManis commented on #55
@jorgebr

Here is an announcement from me https://github.com/MattMcManis/Axiom/issues/71#issue-757365245

Did you mention in another post you had some extra x265 parameters you wanted me to add?

[2020-12-04 20:02] MattMcManis commented on #63
Hello, I have been away for a while.

I don't believe Axiom can rename them. I'm unsure how to do it through FFmpeg. See about the program MKVToolNix, it may be able to.

[2020-12-04 20:12] MattMcManis commented on #64
@nkh0472

Hello, I have an announcement here https://github.com/MattMcManis/Axiom/issues/71#issue-757365245

I followed your steps, but it did not crash for me. I will look into what might be causing it. I will be releasing an update soon.

[2020-12-04 20:28] MattMcManis commented on #68
Hello, I have been away.

I have looked at multiple ways to cut video properly, but I've found putting `-ss` after `-i` works the best in most situations.

Did you find a solution?

[2020-12-05 02:13] nkh0472 commented on #64
I'm not good at debug, but I used dnspy to run the program, and when it crashed, the dnspy give a notice:
![image](https://user-images.githubusercontent.com/67589323/101230756-253a0400-36e2-11eb-9028-a519efae6901.png)

The message means: Object reference not set to an instance of an object.

[2020-12-05 02:58] nkh0472 commented on #64
Here is the dump file.
[code]
[Axiom.exe_201205_105057.zip](https://github.com/MattMcManis/Axiom/files/5646394/Axiom.exe_201205_105057.zip)

[2020-12-05 03:14] MattMcManis commented on #64
I think it might be caused by `outputDir.TrimEnd('\\') + @"\";` adding a slash to a null path. I will release an update soon.

[2020-12-05 03:26] MattMcManis commented on #64
I have a test build here if you want to try.

[Axiom.zip](https://github.com/MattMcManis/Axiom/files/5646436/Axiom.zip)

[2020-12-05 13:21] MattMcManis commented on #60
Hello, I have been away. I have an announcement here https://github.com/MattMcManis/Axiom/issues/71#issue-757365245

Maybe I can develop a high contrast mode theme.

[2020-12-05 13:24] MattMcManis commented on #57
Hello, I have been away for quite some time. I have an announcement here https://github.com/MattMcManis/Axiom/issues/71#issue-757365245

I will see if I can add a Language menu in the Settings.

[2020-12-05 15:06] MattMcManis commented on #58
@goamberg

I have an announcement here https://github.com/MattMcManis/Axiom/issues/71#issue-757365245

I've released an update that has fixed several bugs v1.9.3.0 https://github.com/MattMcManis/Axiom/releases
Added Culture Info en-US to any values that contain a decimal, so they should use `.` instead of `,`
Let me know if it works for you.

[2020-12-05 18:17] junguler commented on #60
thank you for posting, hoping all is going to be good with you and your family, love and respect.

[2020-12-06 04:20] MattMcManis commented on #56
I've added the two options in the latest build
https://github.com/MattMcManis/Axiom/releases

Vsync
![vsync](https://user-images.githubusercontent.com/24934978/101271358-c8b50400-3736-11eb-8568-b6867e193b92.png)

Drop Frames Filter
![drop frames](https://user-images.githubusercontent.com/24934978/101271361-cce12180-3736-11eb-8965-e8c78609508a.png)

[code]

[2020-12-06 13:25] MattMcManis commented on #69
Hi, I have been away. This looks like a great program, I will have to check it out.

[2020-12-06 13:29] MattMcManis commented on #70
Do you think these should be added to a presets dropdown menu under audio?

I don't think I can get Axiom to auto-detect all the different input and output audio setups, unless the user can specify exactly what they want using a menu.

[2020-12-06 13:35] MattMcManis commented on #67
I will try to implement this.

It is sort of like how the mpv video player has the options "exact, fuzzy, all" which detects and loads external files with the same name as the main video.

But this will have FFmpeg mux them in.

[2020-12-07 09:10] nkh0472 commented on #64
Wow, no crash anymore. Great!

[2020-12-07 09:10] #64 closed

[2020-12-07 12:18] MattMcManis commented on #64
More improvements have been made in the latest build

https://github.com/MattMcManis/Axiom/releases/tag/v1.9.3.2-alpha

[2020-12-07 14:42] nkh0472 commented on #57
I can help for Chinese Simplified localization.

[2020-12-08 01:10] junguler commented on #60
hello again, i have found a high contrast theme online that fixes this issue and this is no longer a problem for me, i'm going to close this issue and let you focus on more important things, thank you for your amazing program.

[2020-12-08 01:10] #60 closed

[2020-12-10 08:39] MarcoRavich commented on #70
Users must specify the output format&codec of course, but it would be great if the software automatically select the best preset to achieve the result, IMHO.

[2020-12-10 08:54] forart opened #72 "[SUGGESTION] Cross-platform command-line AV1 / VP9 / HEVC / H264 / VVC encoding framework with per scene quality encoding"
I just found this interesting framework that aims to:

_Spliting video by scenes for parallel encoding because AV1 encoders are currently not good at multithreading, encoding is limited to single or couple of threads at the same time._
- PySceneDetect used for spliting video by scenes and running multiple encoders.
- Fastest way to encode AV1 without losing quality, as fast as many CPU cores you h

[2020-12-11 17:35] MattMcManis commented on #63
I found out how to do it. Though it will remux it through FFmpeg using `Codec Copy` and `Maps`.

Example, if video has 3 subtitiles.
Make the custom script in Axiom and press `Run`.

[code]

[2020-12-11 17:41] MattMcManis commented on #63
If you want to mux from scratch:

1 Video
2 Audio
2 Subtitles

[code]

[2020-12-16 07:52] forart opened #73 "[SUGGESTION] FFMpeg's noise reduction"
I recently encoded an old documentary thas has a "disturbing" grain, so I believe that would be great for encoder GUI to let users exploit denoise algorithms available in FFMpeg (as HandBrake already does):

- http://ffmpeg.org/ffmpeg-filters.html#nlmeans-1
- http://ffmpeg.org/ffmpeg-filters.html#atadenoise
- http://ffmpeg.org/ffmpeg-filters.html#hqdn3d-1
- http://ffmpeg.org/ffmpeg-filters.html#va

[2020-12-17 03:06] MattMcManis commented on #73
I will work on adding this, thanks.

[2020-12-18 08:26] MarcoRavich commented on #72
Dunno if can help/inspire, but here's a GUI for it:
https://github.com/natis1/qencoder

[2020-12-19 03:51] MattMcManis commented on #73
Example commands of each noise filter:

[code]

For now I might have to do simple presets for each, `Heavy`, `Medium`, `Light`, as it will be difficult and take some time to add the parameter controls for each value, such as `threshold`, `luma`, `chroma`, `planes`.

[2020-12-19 11:16] forart commented on #73
Yes, as Handbrake, you can simply put just some "presets" (eg. min-low-mid-high-max) per filter...

[2020-12-19 11:17] MarcoRavich commented on #73
Yes, almost all GUIs uses presets...

[2020-12-20 17:01] MattMcManis commented on #73
I've added the noise filters `nlmeans`, `hqdn3d`, `vaguedenoiser`, `removegrain` with `light`, `medium`, `strong` presets.
Let me know how they work out.

---

I did not add `atadenoise` yet, if you can find any good presets for `light`, `medium`, `strong`, post them.

I found the other presets here:
`nlmeans`
https://forum.handbrake.fr/viewtopic.php?f=4&t=30135&p=139077
`hqdn3d`
https://mattgadie

[2020-12-23 10:34] Issity opened #74 "Adding subtitles broken - MP4 hardcoding (-c:s parameter)"
In recent versions of Axiom (1.9.5.3) script fails to run when I try to burn-in subtitles.
Running the script will fail with the following error:
[code]
I noticed that it's caused by -c:s option which was not used in older versions (like 1.9.2.3).
When I deleted this option from the script it worked without issues.
My knowledge of FFmpeg is very limited, so I have no idea what would be the proper

[2020-12-25 15:22] MattMcManis commented on #74
Thanks for reporting the bug. This happened when I unified all the Codec controls (which will reduce errors in the long run).
`Burn` was the odd one out that uses Filter `-vf` instead of `-c:s`.

I've fixed it in the latest version, along with some other optimizations. Press the update arrow in Axiom or download here:

https://github.com/MattMcManis/Axiom/releases
https://github.com/MattMcManis/Ax

[2021-01-02 16:01] FireCubeStudios opened #75 "Update the UI"
App UI should be updated to match modern designs. Microsoft fluent design system for windows can be easily achieved with modern wpf

[2021-01-03 17:09] hrxn commented on #75
I like the UI design, actually..

[2021-01-03 17:45] FireCubeStudios commented on #75
but there are some improvements that can be made like removing blue background for a clean black/white background that binds to the user system theme which makes for a better UX.

 In addition to that the dropdowns here should be fixed instead of having 1 blue 3d and 1 white flat one we can make them consistent and maybe add a dark mode too
![image](https://user-images.githubusercontent.com/409553

[2021-01-03 17:46] FireCubeStudios commented on #75
The GUI should be easier to use than the ffmpeg cli tool

[2021-01-03 18:24] hrxn commented on #75
I don't know what you mean, that's all pretty self-explanatory to me.

[2021-01-03 22:28] FireCubeStudios commented on #75
My suggestions are to fix the stylings mostly. Not the layout

[2021-01-04 09:14] MattMcManis commented on #75
I will plan on modernizing the UI. Post some example images if you can.

---

I'm also going to try and add a muxer similar to MKVToolNix https://i.imgur.com/TvzhzNF.png

And also have an option to display FFmpeg output inside the program, instead of Command Prompt.

There would be multiple tabs where the `Script` textbox is. `Mux`, `Jobs`, `Script`, `FFmpeg`.

---

This started off as a small pro

[2021-01-05 14:22] rayures opened #76 "subtitle metadata not properly set"
converting a mkv to mp4 for chromecast compatibility.

`
"Axiom.FFmpeg\ffmpeg\bin\ffmpeg.exe"
-y
-i "video.mkv"
-i "subtitle sync.en.srt"
-i "NL audio_SUBTITLE_Stream_3.srt"
-c:v copy
-map 0:v:0?
-c:a aac
-b:a 400k
-map 0:a?
-c:s mov_text
-map 1:s?
-map 2:s?
-disposition:s:1 default
-metadata:s:s:0 title="English"
-metadata:s:s:0 language="en"
-metadata:s:s:1 title="Nederlands"
-metadata:s:s:1 lan

[2021-01-11 14:40] MattMcManis commented on #76
I'm not sure why it's not working with `srt` `mov_text`. It works with `mkv` `ssa`.

I will do some research and find out what the correct commands are.

[2021-01-11 15:01] MattMcManis commented on #76
Until then I suggest using [MKVToolNix](https://mkvtoolnix.download) to do subtitle metadata.

[2021-01-15 15:23] ZeroCool22 opened #77 "Why i get this error when try custom (H265)?"
![Screenshot_2](https://user-images.githubusercontent.com/13344308/104745028-5e778200-572c-11eb-944e-cc8ba8c4892c.png)

[2021-01-20 11:27] forart opened #78 "[IDEA] What about Haiku (sup)port ?"
OK, it's another "push" 'cause I've already tryied to stimulate it in [FF](https://github.com/cdgriffith/FastFlix/issues/173), but Axiom could be easier...

It would be interesting to have a port for the open source [Haiku OS](https://www.haiku-os.org/) (aka **the** Media OS).

I am aware that it is certainly not a priority, but in my opinion it would be a good opportunity for "get a foot in the d

[2021-01-23 14:26] slicedbread opened #79 "Numpad entry doesn't work"
Numpad entry doesn't seem to work.

I see it mentioned in a past ticket but I wanted to create a separate issue about it.

[2021-02-16 11:09] teodorsandu opened #80 "[Q] Can I join video-only file with audio-only file to a video with audio?"
e.g. [youtube_file] - DASH_V.webm + [youtube_file] - DASH_A.webm

Thanks!

[2021-03-11 10:34] MarcoRavich commented on #73
Someone suggested to implement accellerated nlmeans_opencl @ FastFlix, wich sounds a really good idea:

https://github.com/cdgriffith/FastFlix/issues/202

Hope that inspires !

[2021-03-19 07:56] MarcoRavich commented on #42
As posted in the above FastFlix "issue", I found some interesting resouces for qsv encodes/filters:

- https://nico-lab.net/installing_qsv_with_ffmpeg/ (Japanese, use translator)
- https://github.com/mdhiggins/sickbeard_mp4_automator/issues/932

Hope that helps/inspires !

[2021-04-03 09:53] MarcoRavich commented on #41
Just found this [interesting insight @ StackExchange](https://superuser.com/questions/1428442/using-ffmpeg-to-encode-a-video-to-h264-using-intel-quicksync/1428799):

**Notes on encoding with the QSV encoders:**
Typically, you will need to initialize a hardware device that will be used by both the encoder(s) in use and filtering, as shown in the example below:
[code]

See how the hardware device fo

[2021-04-03 10:03] MarcoRavich commented on #42
OK, seems the (greatest ?) hardware accelerated video encoders expert is @Brainiarc7 here.

I believe he could help us to understand better how to create a right commandline for FFMPEG encodings.

[2021-04-16 03:59] nkh0472 opened #82 "[BUG]Default --crf is"

[2021-04-16 04:34] nkh0472 commented on #82
In Video-Encoding section, when change Quality option from "Auto" to any other option such like "Ultra", the default bitrate control method is "CRF", whether or not the nvenc encoder is enabled.
**However, h264_nvenc is not support --crf flag** according to `ffmpeg --help encoder=nvenc`.
Thus when hit Convert button, the ffmpeg will give an error as below and exit.
[code]
**Instead, we can use `-c

[2021-04-28 08:54] Brainiarc7 commented on #42
Sure, I'll take a look at the thread.

On Sat, 3 Apr 2021 at 13:03, Marco Ravich ***@***.***> wrote:

[2021-05-10 21:05] superbonaci opened #84 "Does it auto-update?"
Quick question does this auto-update on new version?

[2021-06-11 07:33] forart opened #85 "[REQ] Versatile Video Coding (aka x266) support"
Finally the 1.0.0 version has been (recently) released:

https://github.com/fraunhoferhhi/vvenc/releases/

Dunno if it'll be included in FFMPEG, btw it could be interesting to have a cool gui (like FF) for it.

Hope that inspires.

[2021-06-17 02:35] horusra opened #86 "AV1 container"
As far as I know, AV1 can be used in .webm .mp4 and .mkv
However in Axiom, AV1 is only an option when using mkv.

[2021-08-16 16:00] slyguy65 opened #87 "Not able to batch convert?"
This thing is great, however I can never get the batch convert to work. Not sure if its me or the program, but I have tried multiple times. My main goal is to batch convert folders of GIF's into MP4. However no matter what I try it just doesn't work.

[2021-08-17 08:06] forart opened #88 "[SUGGESTION] Optimal parms for "Coding to DVD with FFMPEG""
[GMJCZP's Arsenal](https://forum.doom9.org/showthread.php?p=1813940#post1813940) scripts are very interesting, but suggested one - that is updated in June 2021 - should be a "must" in Axiom.

Check it out: [Coding to DVD with FFMPEG](https://forum.doom9.org/showthread.php?p=1809116#post1809116)

Hope that inspires !

[2021-09-29 23:12] via80HD opened #89 "Not sure. Issues pasting a link into the input box (youtube-dl)"
Not sure where else to ask or figure this out, if this isn't allowed let me know and I will delete this. So I'm not sure if I'm doing something wrong or what but here is my issue.

 I've been able to download multiple videos in the app no problem in the past, worked perfect, but yesterday all of a sudden it wouldn't allow me to right click and paste/ctrl+v a YouTube link into the input box like I

[2021-10-14 23:05] BugZappr commented on #75
I for one think the GUI is stylish.  I like that it has skins, instead of being forced into a single Win10 one.  I think much could be said for consistency for the way individual widgets look.  What I would like to see, is a theme much like its default theme, but a lighter one, with a nice off-white color for the text, such as ivory or tan, and a lighter-blue version of the same graphics.

I'd hav

[2021-11-10 10:18] azumukupoe opened #90 "video to gif animation?"
sorry but I am not able to find out how to do this

[2021-11-22 05:53] ValZapod commented on #21
Do not use those. They are not to be used.

This does nothing. You need to -vf scale it.

[2021-12-27 23:08] noobtoob4lyfe opened #91 "No exe file anywhere"
downloaded the zip.  extracted it.  no axiom.exe to be found.  What gives?

[2021-12-28 08:07] hrxn commented on #91
Which zip exactly?

From here? https://github.com/MattMcManis/Axiom/releases

[2022-01-12 13:46] cubigiabinh commented on #90
https://ffmpeg.org/ffmpeg-formats.html
this can be helpful with you

[2022-02-20 14:45] diycgi commented on #40
want to try but reluctant since this seems to be aproblem...I do not have this issue with any other unsigned github code

[2022-02-21 00:34] nkh0472 commented on #40
I have used this tool for more than one year and found nothing strange or dangerous to me. Anyway, you can try it in a sandbox, then check, copy or run the output by yourself ...

[2022-02-27 16:08] itsmeboy0 opened #92 "Project Status"
No commits over 1 year, I assume this project is dead now.

[2022-04-04 15:29] ArkyonVeil opened #93 "Custom Presets not loading properly."
So I decided to use Axiom for a quick n easy video to timelapse conversion by using the speed metric and deleting the audio stream.
This works great.
But then I decided to save this as a preset and this is where it starts to go wrong: Upon reloading the preset, axiom shows the preset settings correctly in the UI but then acts as if it had a different preset loaded in when converting.

How to repli

[2022-04-28 20:29] ValZapod commented on #55
It is only supported on Ice Lake HW encoder. https://github.com/FFmpeg/FFmpeg/commit/c4ae6908f28ceacb39b96de9f8761aae1968bf42
No decoder yet either.

[2022-05-12 14:23] rudolphos commented on #92
Same question

[2022-06-16 13:10] gitdine commented on #92
Still perfectly usable, but seems like it has become abandonware sadly.
Hopefully someone will fork it if the project doesn't become active again.

[2022-07-04 20:30] baker99 opened #94 "Converting DNxHR gives error"
I get the following errors when hitting convert -

[libx265 @ 00000204994ace80] Invalid value for transfer: bt2020.
[libx265 @ 00000204994ace80] Invalid value for colormatrix: bt2020.
[libx265 @ 00000204994ace80] Unknown option: colorspace.

The medianfo for the file is below, I'm trying to convert to x265 mp4 with ultra UHD settings

General
Complete name                            : G:\rsUntitle

[2022-07-05 14:02] BountyBurger commented on #87
Same here

[2022-08-03 18:25] Shampoo-Denhut opened #95 "Saving configurations"
Hi! First of all, I want to thank you for your product, I have to use it very often. Since I have a lot of ready-made configurations for different series, I have to manually copy the fields 'Input', 'Output' and the code field from notepad. I would very much like these settings to be saved in the program itself and substituted with the necessary data by one click. That would be great. Maybe it alr

[2022-11-14 08:22] zjixi commented on #57
Hope the big guy supports Chinese

[2022-11-14 08:29] zjixi opened #96 "language"
I hope the big guy can localize and support Chinese language.